[2016-10-06 03:32] hirossyi73 opened #1 "Where is "demo" folder?"
this repo contains "demo" folder, in this url http://dev.office.com/docs/add-ins/develop/auth-external-add-ins.
"The \demo folder of the repo contains a sample add-in that uses the library to access some popular services including Google, Facebook, and Office 365."
But I can't find it. Where is demo folder??

[2016-10-06 17:42] Rick-Kirkham commented on #1
I've removed the inaccurate sentence from the topic. There is not yet any demo incorporated in the library's repo.

[2016-10-06 17:42] #1 closed

[2016-10-27 15:54] manivannan-mp opened #2 "Do we have SAML2 support ?"
I am using the AzureAD SAML2 for My WebApp which we are soon going to integrate with Office 365.

We have SAML2 in office-js-helpers

[2016-10-28 00:13] WrathOfZombies commented on #2
No we don't have support for SAML2. We are only going to support Implicit OAuth 2.0.

[2016-10-29 21:22] #2 closed

[2016-11-09 03:01] vjiawon opened #4 "12007 error when using authenticator.authenticate to authenticate to Azure Active Directory"
I'm receiving an error when calling authenticator.authenticate to authenticate to AAD. If I debug into line 257 of officehelpers.js, I see that the error code is a 12007, which according to the office docs corresponds to multiple dialog boxes opened, but no dialog has been opened. Do I have something wrong with the configuration? I've also added login.windows.net as an app domain to my manifest. M

[2016-11-09 20:10] WrathOfZombies commented on #4
@vjiawon Is it possible to send some sample code so that I can re-produce it and test? Your invoke code is correct.

[2016-11-09 21:11] vjiawon commented on #4
I did some further debugging and found that the 12007 was a red herring. There was an earlier 12004 that was being swallowed, and the dialog wasn't being disposed, thus subsequent calls to authenticate were rejected with a 12007. The 12004 was caused by an error in the AppDomains elements. Totally on my end :)

Sorry for the confusion, I'll go ahead and close the issue.

[2016-11-09 21:11] #4 closed

[2016-11-15 15:10] slobshay opened #5 "Popup window authentication on IE and Edge is left open instead of closed"
Hi,

Running over IE or Edge has different behavior than running on Firefox or Chrome. While Chrome and Firefox authentication popup window closes once authentication is done, and data is retrieved back in the original window, this is not the case within Internet Explorer or Edge.
IE and Edge popup window won't close which causes retrieved token to remain in new popup window rather than return to

[2016-11-23 15:11] ArjenHartog commented on #5
Hi, already recievedsolution for this? We have the same trouble. Thanks.

[2016-11-23 15:14] slobshay commented on #5
Hi, didn't receive a solution yet. I'm not aware of solution availability.
I've moved to use ADAL directly instead.

[2016-11-23 15:17] ArjenHartog commented on #5
Hi, thanks, in that case we will look into other approaches too.

[2016-11-30 11:47] panjkov opened #6 "Working sample with Office addin?"
Is there a working sample of using authenticator with Office addin?

[2016-12-02 01:02] WrathOfZombies commented on #5
@ArjenHartog, @slobshay  Well the update on it is that there's a Cross Domain postMessage() call issue that needs to be addressed in the underlying API itself. For now I seem to have found a workaround and I am testing that. I'll post back as soon as I have it working.

[2016-12-13 03:16] WrathOfZombies commented on #6
@panjkov We'll be publishing some samples soon.

[2017-01-10 17:25] WrathOfZombies commented on #5
Hi @ArjenHartog, @slobshay

Can you guys give the new helpers (v0.4.1) a try and let me know if it works for you. We improved the Add-in detection and so it will resort to using DialogAPI instead of the web browser fallback that was previously there.

Let me know if you guys have any issues.

[2017-01-11 06:14] slobshay commented on #5
Hi @WrathOfZombies,

We switched to use a different library for now, sorry. Will let you know if we plan to move back to helpers.

Thank you.

[2017-01-12 22:30] WrathOfZombies commented on #5
Alright i'll close this issue for now. Please re-open it in case you still have problems.

[2017-01-12 22:30] #5 closed

[2017-01-13 22:26] darcyparker opened #14 "Please add npm script to run tests"
How do you run your tests? I did not find `npm run test`.

On a related note, `typings` is required for `npm run build`.  I see you install it for travis...  I suspect it was an oversight to not including installing typings with `npm install`.  I can see why you wouldn't put it in definition for `npm run build` because you don't need to keep installing typings.  I suspect you want to add:
`"postin

[2017-01-14 09:24] WrathOfZombies commented on #14
Well there's a problem. Assuming you used @types in your codebase, you'd end up with conflicting types as the postinstall script is even run for dependencies.

So I found it's better to install it manually instead of automating that process.

On the testing front, I have intentionally left it out as I am still in the process of adding features/writing tests. Besides I plan to switch to mocha inste

[2017-01-14 16:19] darcyparker commented on #14
@WrathOfZombies - thanks for explanation.

[2017-01-14 16:20] #14 closed

[2017-01-18 20:21] WrathOfZombies commented on #14
@darcyparker. Seems like there's a better alternative. I am testing out the use of @types by default instead of depending on typings altogether. That should help at least with the second part of the problem.

[2017-03-19 14:04] anthony-france commented on #6
Any progress on this?  There is obviously more to getting this working than is in the documentation...

[2017-03-20 11:22] IonutLupsan opened #15 "endpointmanager.ts extend config not working as expected"
There are 4 occurrences where the config object is extended using the Lodash 'extend' method.
In each of these, the initial empty object is extended **first with the overrides**, then with the defaults. Doesn't this mean that any custom setting defined in the overrides will be actually overridden by an existing default value ?

[2017-03-24 00:04] WrathOfZombies commented on #15
@IonutLupsan that's actually a good catch. We recently moved to using lodash over our custom implementation (which used a reverse order). In fact for this purpose we are now going to directly use the es6 spread operator. Will update once the change is in.

[2017-03-24 01:04] WrathOfZombies commented on #15
This commit should address the problem: https://github.com/OfficeDev/office-js-helpers/commit/ce95704a6e44205bb409c86e012212b5d34e85d2

Should be available when 0.6.0 goes live.

[2017-03-26 23:20] zeWizard commented on #15
awesome! was just about to submit a pull request for this too 👍

[2017-03-28 13:19] stotzout commented on #5
Hi,

i got the same Issues.

If i manually close the Popup by clicking the "x" i get this error:

Ausnahmefehler in Zeile 19, Spalte 68239 in https://localhost:44365/Scripts/Office/1/word-win32-16.01.js
0x800a139e - Laufzeitfehler in JavaScript: Fehler beim Aufrufen der Funktion "close". Fehlercode: 12007.

It says: Cannot call the function "close" in "word-win32-16.01.js"

[2017-03-28 15:06] stotzout opened #16 "Got and solved an Error in Google Chrome Browser"
The state was undefined because in "params" the "state" got saved like this: "result./state"

 `Authenticator.extractParams = function (segment) {
        if (segment == null || segment.trim() === '') {
            return null;
        }
        var params = {}, regex = /([^&=]+)=([^&]*)/g, matchParts;
        while ((matchParts = regex.exec(segment)) !== null) {

            // NEXT LINE GOT ADDE

[2017-03-28 15:21] stotzout commented on #5
Solved this Issue by:
https://github.com/OfficeDev/office-js-helpers/issues/16

slobshay ->
"Running over IE or Edge has different behavior than running on Firefox or Chrome. While Chrome and Firefox authentication popup window closes once authentication is done, and data is retrieved back in the original window, this is not the case within Internet Explorer or Edge.
IE and Edge popup window won't

[2017-03-28 20:46] WrathOfZombies commented on #16
Thanks for solution. Could you submit a pull request and reference the issue, so that I can test and publish?

[2017-03-29 18:13] WrathOfZombies commented on #16
Merged the PR. I actually meant for you to submit the code itself but that's fine, I added it in myself.
Thank you for the contribution 👍

[2017-03-29 18:13] #16 closed

[2017-03-29 18:37] WrathOfZombies commented on #15
@IonutLupsan:
This is now deployed. Give it a shot at https://unpkg.com/@microsoft/office-js-helpers@0.6.0. If the issue persists, feel free to open up the issue again and I'll look into it. I run through some basic scenarios.

@zeWizard, @IonutLupsan: If you feel inspired to write some tests, please do help out :)

[2017-03-29 18:37] #15 closed

[2017-03-29 18:37] WrathOfZombies opened #18 "Needs unit tests across the board"

[2017-03-29 18:46] WrathOfZombies commented on #5
Just a note here, no matter the implementation, this wont work outside an Add-in in IE11 browser as outside of Add-ins we use a window.popup hack to launch a popup at the login endpoint and complete the authentication. Apart from that, it should work everywhere else consistently.

[2017-03-31 14:11] stotzout opened #19 "Issue with AngularJS $state.provider and redirecting."
It's more an information than an issue.

If you are using angularjs router or stateprovider with redirecting, the popup url will immediately redirected to the default url you set.

The result of that is, that the token couldn't read out of the URL from the popup. Additionally the popup doesn't close automatically.

Sometimes it works because in this case the read out was faster than the redirectio

[2017-03-31 17:36] stotzout commented on #19
A solution for this is following:

`OfficeHelpers.Authenticator.isAuthDialog()`

Insert this line before your RouterModule gets initialized. In documentation is written that you have to add this line in Office.initialize function. But if it's called after RouterModule you will get problems.

Now I got the library running in AngularJS and AngularJS 2. (I build a Word-Add-In)

[2017-04-03 20:07] WrathOfZombies commented on #19
Thanks for sharing @stotzout. My approach to that problem is to make that call before the bootstrap itself as I cannot see a reason for any code to run in the popup. For that the `OfficeHelpers.Authenticator.isAuthDialog()` actually returns a `boolean` value which is `true`, if the code is running inside of a dialog.

So in AngularJS/Angular/React i'd do something like:

[code]

For an example, pl

[2017-04-09 19:33] WrathOfZombies commented on #6
Sorry for the delay:
@anthony-france, @panjkov: Here's a sample that uses the Office Helpers: https://github.com/OfficeDev/Excel-Add-in-TypeScript-MailMerge.

If you are facing specific problems, please open an issue or ask on StackOverflow with the tag 'office-js' and 'office-js-helpers' and we'll make sure to get you up and running.

**Note**
In terms of code there are only three steps to get it

[2017-04-30 09:15] ozippy commented on #19
This library seems to be what I've been looking for, so thanks. I am trying to get it to work with a React Office Add-in, but I don't seem to be able to solve this issue. Is there an example of a React Office add-in that implements the authentication from this library that I could refer to?

Thanks

[2017-04-30 18:23] WrathOfZombies commented on #19
@Rick-Kirkham @Reezaali : Could you guys update once the Image Extractor sample is complete?

@ozippy Thank you 👍. For the moment you could use this [**sample**](https://github.com/OfficeDev/microsoft-teams-sample-todo). Its a React sample for Microsoft Teams but in terms of `OfficeHelpers` the difference will only be the removal of a single flag.

On a side note, to aid your react development you

[2017-05-04 18:11] alabels9 commented on #19
Hi,
I'm also trying to get this working with react Outlook add in.  I'm not sure if I'm setting it up correctly, because the dialog window never closes, so I can see it has returned the accessToken, but my code never gets it.  Below is a short code sample - can anyone point out what I'm doing wrong?  Please let me know if I can provide more information.

[code]

[2017-05-05 00:12] ozippy commented on #19
I have tried using the Microsoft Teams Todo sample as a basis for getting an Outlook add-in to work. I have used the yo office generator and then retrofitted the same techniques you used in the Teams sample.

It seems to work in a normal Chrome window, but when I open an incognito session, open outlook online and try to open the add-in i don't get a dialog. I open the dev tools and in the console,

[2017-05-07 19:59] WrathOfZombies commented on #19
@ozippy let me take a look at and get back you.

[2017-05-08 21:39] tarunchopra opened #24 "Logoff and force token expiration"
How do you logoff and forcefully expire\delete the cached token ?

[2017-05-08 22:00] WrathOfZombies commented on #24
We cant technically logoff as not all providers support that implementation. Deleting the token, just removes the token from localStorage but you are still signed in. You will need to write a custom implementation for logout.

With respect to deleting the cached Token, you can do `authenticator.tokens.remove(<name of endpoint>)`

[2017-05-08 22:01] WrathOfZombies commented on #24
Also `authenticator.authenticate()` automatically tries to renew the token if it detects that the token has expired.

[2017-05-08 22:50] WrathOfZombies commented on #19
@Zlatkovsky: Please help in debugging this. I am not sure why the dialog doesn't actually close.

[2017-05-09 10:00] Geraint87 opened #27 "How to correctly check the host: Office, Office online and web browser."
*** Sorry in advance if this is not the right forum for this question! ***
I would like to detect whether a user has hit the URL of my add-in from a browser, outside of Office and Office online.

I've looked at the utility functions `OfficeHelpers.Utilities.host` and `OfficeHelpers.Utilities.isAddin` but the docs say these will only work after Office.initialize is called. If the URL has been navig

[2017-05-09 17:17] Rick-Kirkham commented on #27
@Geraint87
The best place to ask this question is on StackOverflow. That way other developers who face the question in the future, will have the benefit if the answer. Be sure to tag it "office-js".

[2017-05-09 17:17] #27 closed

[2017-05-11 07:24] TheSamsterZA opened #28 "ng build Error"
Hi,

I am building an OfficeJS add-in for Word that is using Angular 4.

I installed @microsoft/office-js-helpers from NPM:

`npm install @microsoft/office-js-helpers --save`

Then, as soon as I reference it:

`import { Utilities } from '@microsoft/office-js-helpers';`

and then `ng build` I get the following:

[code]

What am I doing wrong?

[2017-05-11 14:15] EliseoAzpeitia opened #29 "Unable to get property 'registerForEvent' of undefined or null reference"
When I use OfficeHelpers.Authenticator.isAuthDialog() throw this error and IE doesn't close de dialog
Example:
Office.initialize = function (){

			if (OfficeHelpers.Authenticator.isAuthDialog()) return;
			var authenticator = new OfficeHelpers.Authenticator();
			 authenticator.endpoints.add("endpoint", {
				baseUrl: "BASE_URL",
				authorizeUrl: "Authorize_URL",
				clientId: "Client_id",
				r

[2017-05-13 03:59] afrance commented on #6
Project 404s

[2017-05-15 18:08] Rick-Kirkham commented on #6
@afrance
Sorry about that. We discovered that the sample https://github.com/OfficeDev/Excel-Add-in-TypeScript-MailMerge was very corrupt and so we made it private until we could get it fixed. The person who was going to do the fix left the team and we only now (thanks to you!) discovered it was never fixed. We will try to do this as soon as we can.

[2017-05-15 21:37] #24 closed

[2017-05-15 21:38] WrathOfZombies commented on #28
Well you aren't doing anything wrong. To fix your error, you'd just need to add `@types/office-js` to your `devDependencies` in your package.json. Let me know if you still have problems.

[2017-05-15 21:42] WrathOfZombies commented on #29
Well I don't recall using `registerForEvent` anywhere. Could you paste the stack trace completely so that we can see what's the root cause?

Also I am assuming that you have included OfficeJS and you are not seeing any network errors which loading the OfficeJS dependencies and you are trying this from inside of an Add-in.

[2017-05-15 22:02] Rick-Kirkham commented on #6
@afrance
It may be a while before we can fix the MailMerge sample. In the meantime, @WrathOfZombies has pointed me to two other samples that use the Office helpers:

[Word Add-in Markdown Editor](https://github.com/OfficeDev/Word-Add-in-Markdown-Editor)
[Microsoft Teams ToDo](https://github.com/OfficeDev/microsoft-teams-sample-todo)

[2017-05-15 23:46] Zlatkovsky commented on #19
@ozippy , is there a manifest I could try out in conjunction with the sources you have listed on https://github.com/ozippy/office1/tree/master/src?

Or does @stotzout have one?  If you have a sample site already published and a manfiest for that that, even better.  That way it's easier to pass along to someone on my team who is in charge of the Dialog API, if it's a bug there.

[2017-05-15 23:49] Zlatkovsky commented on #19
Adding and assigning @sumurthy , who has been following-up on a couple other DialogApi related issues.  @sumurthy , once you have the info from above, could you please follow up on whether it's a platform issue?

[2017-05-15 23:52] Zlatkovsky commented on #19
( @ozippy  & @stotzout @alabels9 , apologies for bouncing the bug around -- but we needed to find the right owner to investigate whether it's a platform issue, and to follow-up on fixing it if so ).  As I said above, if you have a simple repro project with manifest, that would be best.  Thanks!

[2017-05-16 06:58] TheSamsterZA commented on #28
@WrathOfZombies I already have `@types/office-js` under `devDependencies` in my package.json, but just for kicks I uninstalled and reinstalled the packages. I am still seeing the same errors.

Here is the relevant portion of my package.json:

[code]

Here is my `tsconfig.json`:

[code]

and my `tsconfig.app.json`:

[code]

I am using TypeScript 2.3.2.

Is this an issue with module resolution, perh

[2017-05-16 08:49] ozippy commented on #19
Hi @Zlatkovsky , the manifest is in the repo here https://github.com/ozippy/office1/blob/master/my-office-add-in-manifest.xml. I just generated a project with Yeoman and made some modifications. At the moment it doesn't do much apart from try to authenticate. I'm not sure my issue is with the dialog closing. It is more that it doesn't display the login in the dialog when in an chrome incognito ses

[2017-05-19 18:01] WrathOfZombies commented on #28
Looks like you managed to resolve the issue. Kind of makes sense how that think about it. Thanks.
Learning something new everyday...

[2017-05-19 18:01] #28 closed

[2017-05-24 19:51] WrathOfZombies commented on #19
ping @sumurthy. Any ideas/updates?

[2017-07-06 23:37] russgove opened #31 "connect to sharepoint"
Hi, I'm new to office-js. Want to create an outlook addin to talk to sharepoint online. Do you have an example of this?

The doc says:
Add the location of the provider in your AppDomains, example:
    <AppDomain>https://login.windows.net</AppDomain>
    <AppDomain>https://login.microsoftonline.com</AppDomain>

Where do i do that?

[2017-07-06 23:43] Rick-Kirkham commented on #31
We don't have a sample of an Outlook add-in that talks to SharePoint.
The doc is referring to the <AppDomains> section of the add-in manifest. For more information, see [add-in-manifests](https://dev.office.com/docs/add-ins/overview/add-in-manifests).

[2017-07-06 23:43] #31 closed

[2017-07-06 23:50] russgove commented on #31
Doe these helpers work with outlook?

[2017-07-06 23:52] WrathOfZombies commented on #31
@russgove Yes the helpers work with Outlook Add-ins. But we dont have any Outlook specific code in place. That said, they should help with Authentication.

[2017-07-07 00:05] russgove commented on #31
ok, thanks for your help. i will have a go at using the helpless. have been trying to use ADAL, but a steep learning curve! do you guys use that under the covers?

[2017-07-07 22:25] WrathOfZombies commented on #31
Nope we don't use ADAL. We have a custom implementation for now due to the fact that we support multiple providers.

[2017-07-27 14:33] antifun commented on #29
I'm also having this problem.
[code]

[2017-07-31 15:12] antifun commented on #29
For anyone else who stumbles across this, it turns out that most of my problems were caused by a lack of `AppDomains` matching the domain for opened authentication dialogs. The particulars of the add-in API and browser origin restrictions mean that (correct me if I'm wrong):

* You pop open a dialog under some domain listed in AppDomains
* That needs to redirect you to your actual oauth provider
*

[2017-08-03 03:24] IanVS opened #32 "Unpin rxjs if possible"
Hi, I see that you've pinned to rxjs version `5.2.0` instead of following semver with something like `^5.2.0`.  I am also using rxjs in my add-in, but at a different (more recent) version.  Because of this, I now have two versions of the same package being bundled.  Is it possible to use a more generous range for `rxjs` in this package?

Thanks!

[2017-08-03 18:48] WrathOfZombies commented on #32
@IanVS Sure, we can upgrade the `rxjs` version to the latest minor version. We pinned it for consistency :)

[2017-08-03 18:49] WrathOfZombies commented on #32
@IanVS If you'd like please send a PR with the change.

[2017-08-03 18:50] #29 closed

[2017-08-03 19:26] IanVS commented on #32
Sure I can send in a PR.  I'd suggest using `yarn.lock` and/or `package.lock` to maintain consistency, which will still allow consumers to use and lock to their own versions.

[2017-08-04 22:07] WrathOfZombies commented on #32
We do check in a `yarn.lock` file, so feel free to update that as a part of your PR.

[2017-08-04 22:08] WrathOfZombies commented on #29
@Zlatkovsky would you be open to writing a blog post about this on OfficeDev?

[2017-08-05 22:16] Zlatkovsky commented on #29
Let me hand it off to our documentation team or PMs.  I'll send an internal email about it.

[2017-08-05 22:16] Zlatkovsky commented on #29
Assigning to @Reezaali , I'll talk with him in person offline.

[2017-08-06 17:19] IanVS commented on #32
Closed by #33

[2017-08-06 17:19] #32 closed

[2017-08-06 17:28] IanVS opened #35 "Entire lodash is being added to dependent projects"
I noticed that my bundle for my add-in has 74kb (gzipped) of lodash in it, even though I don't use lodash in my project.  It seems that it's being pulled in because of `office-js-helpers` and the way that it imports from `lodash`.

I did a little investigating, and it seems that as of today, it's not super simple to tree-shake lodash with typescript.  https://medium.com/@martin_hotell/tree-shake-l

[2017-08-06 18:40] LucasMoffitt opened #36 "OfficeHelpers.Utilities.host incorrectly identifies Word Office 2013 in Win 7 as "WEB""
OfficeHelpers.Utilities.host will return "WEB" while running in Office 2013 on Windows 7.

I believe (but haven't verified) that it's catching an error as below.

[code]

[2017-08-07 04:05] Reezaali commented on #29
Wouldn't it be better to write out an error message that suggests someone review their AppDomains settings when you catch the error? Writing a blog post won't be an effective way to solve this problem. Thanks!

[2017-08-07 15:24] WrathOfZombies commented on #35
You're right about the increased size and that's something that's started to factor in recently post the 0.7.0 release. I am investigating the cause of the same. Will get back to you.

Also with webpack I meant, users of the library can use webpack/rollup to tree shake as we do in another project.

[2017-08-07 15:28] WrathOfZombies commented on #36
@Zlatkovsky something that you'd be better at resolving.

My hunch is the sessionStorage object either being null due to Office.js not being available or due to it not having the right values.

@LucasMoffitt can you patch your local copy of OfficeHelpers to do a `OfficeHelpers.Utilities.log(error)` just before the return so that it can help us identify the issue.

[2017-08-07 17:00] Zlatkovsky commented on #36
@LucasMoffitt , where are you calling this from?  The code is only guaranteed to return correct values if it's run inside of or after `Office.initialized` has been called.

[2017-08-10 00:36] SoftTimur opened #37 "Loading https://...?_host__Info=... disturbs future loading of other pages"
Hello,

I just discovered OfficeJSHelpers. I added `console.log("OfficeHelpers.Utilities.host: " + OfficeHelpers.Utilities.host)` and `console.log("OfficeHelpers.Utilities.platform: " + OfficeHelpers.Utilities.platform)` to my website. It works fine, but when I load in a browser `https://localhost:3000/try?_host_Info=excel|web|16.00|en-us|7fe9b4e9-d51e-bea5-d194-c817bc5ed4bc|isDialog#%2Ftry%3F_hos

[2017-08-10 20:50] WrathOfZombies commented on #37
@Zlatkovsky something that you'd want to take a look at.. Are we caching the value of `host` & `platform`? Also why are url parameters even a source for determining paths? I assumed that sessionStorage would provide that information when loading in Office.js

[2017-08-11 00:12] SoftTimur opened #38 "OfficeHelpers.Utilities.platform returns null in Excel for Windows"
Hello,

I load the following page as an Excel add-in in Excel (Office 365 Version 1706) for Windows 7. It shows `EXCEL` as `host`, but `null` as `platform`. I cleared my browser history before the tests...

It seems that for the same code, it showed `PC` yesterday...

Shouldn't it be always `PC` in Excel for Windows?

Thank you

    <html>
        <head>
            <script src="https://appsforoff

[2017-08-15 19:16] WrathOfZombies commented on #38
Another host detection problem. Could be related to #37 . @Zlatkovsky thoughts?

[2017-08-17 19:15] antifun opened #39 "How to handle "Uncaught Error: The user chose to ignore the dialog box"?"
Is there a way to catch or handle this error (thrown if the user clicks "Ignore" when prompted to open a new window for oauth)?

I've got a `.catch` in place which is reached if the user closes the opened dialog prematurely, but there doesn't seem to be any higher level with which to wrap the call to `authenticate`.

[code]

[2017-08-22 03:31] IanVS opened #40 "Avoid ugly/scary `X wants to display a new window.`"
We are using this library to handle authentication, but when clicking our `Log in` button, users are shown a `App wants to display a new window.` dialog which they can choose to `Allow` or `Ignore.`  Is there any way to avoid this clunky interaction?  I am concerned that it will cause confusion and abandonment among our users.

If there's currently no way (it seems there isn't), is there a chance

[2017-08-22 03:40] WrathOfZombies commented on #40
@IanVS I am assuming that you are noticing this in Outlook online. If so then I do not think there's a way to go around this for the moment. That said, could you attach a screenshot of the same.

If not then please let me know where exactly you're seeing this behaviour so that I can help.

@Zlatkovsky I think we need to forward this feedback to the appropriate team.

[2017-08-22 03:42] WrathOfZombies commented on #39
@IanVS  Could you attach some screenshots/gif of the same. Given that the helpers works differently in different platforms, I'd need some visual cues to see how we can best help.

[2017-08-22 03:47] IanVS commented on #40
Thanks for the quick response, @WrathOfZombies.

You're right, I'm seeing it in the web app.  Here's a screenshot:

![image](https://user-images.githubusercontent.com/4616705/29547859-c531838c-86ca-11e7-998e-07c590b6e5a9.png)

I've noticed we're not the only add-in which has this warning.  Salesforce has it as well:

![image](https://user-images.githubusercontent.com/4616705/29547892-f2893a5a-86ca

[2017-08-22 03:50] IanVS commented on #39
Sure, I posted some over in https://github.com/OfficeDev/office-js-helpers/issues/40#issuecomment-323911412.  But I didn't open this particular issue.  Maybe you meant to ask @antifun?

[2017-08-22 05:51] Zlatkovsky commented on #40
This might technically be "by design", but let me forward this to the appropriate folks on the team.  It's true that the UX/UI could probably be improved...

[2017-08-22 15:30] antifun commented on #39
Yes, I think (at least the way I have it configured in the manifest) that this only happens in the web app.

[2017-08-22 16:27] antifun commented on #40
cf. #39, the wish I expressed there is to have a click on "Ignore" be catchable -- I haven't figured out a way to be able to do that.

[2017-08-22 17:13] Zlatkovsky commented on #40
Got it, makes sense.  Let me pass on that bit of feedback too, I agree that this feels like it should generate a user-cancelled-this-action event.  For purposes of tracking this request in a visible place, would you mind filing a bug at https://github.com/OfficeDev/office-js/issues ?  And linking to it here?

[2017-08-29 03:47] GregPartner opened #41 "Dialog error 12002"
I started new office JS project , the default Word sample, removed all code in Office.initialize, to the point where I only get the following code in Home.js:

`(function () {
    "use strict";

    // The initialize function must be run each time a new page is loaded.
    Office.initialize = function (reason) {
        $(document).ready(function () {

            if (OfficeHelpers.Authenticator.i

[2017-08-29 12:09] cognologixguru opened #42 "Samples for OfficeJSHelper"
Hi,
There should be samples to implement OfficeJSHelper.
Samples Like : Javascript Samples - SPA, C# .NET and NodeJS implementation.

[2017-08-29 12:41] cognologixguru commented on #42
Hi,
I have done following code in Home.js. It returns following exception.

Unhandled exception at line 1, column 1149 in https://localhost:44365/office.helpers.min.js
0x800a1391 - JavaScript runtime error: 'Promise' is undefined occurred

[sample.zip](https://github.com/OfficeDev/office-js-helpers/files/1260274/sample.zip)

[2017-08-29 13:05] cognologixguru opened #43 "Unhandled exception in https://localhost:*****/office.helpers.min.js 0x800a1391 - JavaScript runtime error: 'Promise' is undefined occurred"
Hi,
I have done following code in Home.js. It returns following exception.

Unhandled exception at line 1, column 1149 in https://localhost:44365/office.helpers.min.js
0x800a1391 - JavaScript runtime error: 'Promise' is undefined occurred

[sample.zip](https://github.com/OfficeDev/office-js-helpers/files/1260274/sample.zip)

Solution : Add following code before OfficeJSHelper.js

    <script src="

[2017-08-29 13:05] #43 closed

[2017-08-29 13:08] cognologixguru opened #44 "Authenticator popups Login window but does returns "Token" and "Cached Token" is not found"
Authenticator opens up popup window where user can put credentials but **it is not returning any token** as specified.

[2017-08-29 16:52] Rick-Kirkham commented on #41
12002 means that either the URL that is passed to displayDialogAsync is not a valid URL or the Dialog window was redirected to an invalid URL. (See [Dialog API](https://dev.office.com/docs/add-ins/develop/dialog-api-in-office-add-ins) for more.) Could you use the Fiddler tool to see what the actual URLs are?

[2017-08-29 17:30] GregPartner commented on #41
Thanks it works now,

I used the overrides to change the default redirectUrl and works fine now.
EndpointStorage.prototype.registerAzureADAuth = function (clientId, tenant, overrides)

I also changed the resource and was able to access my OData feed

Another question: Is there a method to logout to change credentials ?

[2017-08-29 17:54] WrathOfZombies commented on #44
Could provide some more information such as console.log errors etc?

[2017-08-29 17:56] WrathOfZombies commented on #42
Sure will add that to the todo list. @cognologixguru we are also open to contributions if you'd like to do so.

[2017-08-29 17:59] WrathOfZombies commented on #41
@GregPartner There's no default logout implementation as it varies from provider to provider. However there's a logout endpoint for Azure AD that you can hit. You could write a simple method to hit that endpoint and it should log you out.

Also to your earlier question, we do support multiple oauth providers such as Facebook, Google, MSFT, Azure AD out of the box but you could very easily add any

[2017-08-29 18:01] WrathOfZombies commented on #44
Could you also show some sample code on how you are using the library?

[2017-08-29 20:22] WrathOfZombies commented on #41
@GregPartner Could you tell us what was wrong with the default redirectUrl. It points to `location.origin` and we'd like to understand what was wrong with that as if there's a bug we can fix it and if the error was misleading we can address the error message.

[2017-08-29 20:35] GregPartner commented on #41
I'm using this now:

`            var config = {
                clientId: clientId,
                baseUrl: "https://login.windows.net/" + tenant,
                resource: urlD365,
                redirectUrl: redirectUrl
            };
            authenticator.endpoints.registerAzureADAuth(clientId, tenant, config);`

When I comment the config.redirectUrl, I get the above error in the JS cons

[2017-08-29 20:55] WrathOfZombies commented on #41
Sure just search for *bhkrish@microsoft.com* on SFB and you can ping me there. Thanks 👍

[2017-08-29 23:56] magrems opened #45 "Consent framework?"
Does this framework support the implementation of consent framework - https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-integrating-applications#overview-of-the-consent-framework?

I'm experiencing some issues atm, where the consent is not being requested for users from another tenant.

Thanks

[2017-08-30 00:11] WrathOfZombies commented on #45
Given that Office Helpers is written for client side code only, you'll need to grant explicit consent to the application's `appId` using the **Grant Permissions** button on the tenant in which you want to use the application.

Once that step is complete, you will be able to sign your users in via the `AzureAD` config flow by setting the `tenant` to the `common`.

[2017-08-30 00:11] WrathOfZombies commented on #41
@GregPartner you'd need to be looking at https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-integrating-applications#overview-of-the-consent-framework to grant consent. See #45

[2017-08-30 00:12] #41 closed

[2017-08-30 00:13] WrathOfZombies commented on #39
Closing this as a dupe. The referenced issue will track this.

[2017-08-30 00:13] #39 closed

[2017-08-30 00:15] WrathOfZombies commented on #35
I have a working sample of this. I had to move to a webpack based build system. @IanVS let me know if you'd like to try it out as a beta.

[2017-08-30 00:33] magrems commented on #45
Can I also ask where exactly is this button? in the Azure portal AAD-app registrations? on the auth popup dialog? elsewhere?

Ta

[2017-08-30 18:55] WrathOfZombies commented on #45
@magrems I tried this out and it seems that first you would have to do this: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-integrating-applications#enabling-external-users-to-grant-your-application-access-to-their-resources

Simply follow the instructions on that page. The earlier response was for scenarios where a consent prompt isn't required but I feel that us

[2017-08-30 18:57] WrathOfZombies commented on #41
@GregPartner I tried out the multi tenant access and you'd need to follow the steps listed here: https://github.com/OfficeDev/office-js-helpers/issues/45#issuecomment-326086032

The earlier method is a sub step that might be unnecessary.

[2017-08-30 19:06] magrems commented on #45
Thanks, yes, my app is Multi-Tenant enabled already ;)

[2017-08-30 20:19] GregPartner opened #46 "Logout - Azure AD?"
Following advice from #41 on logout, I implemented logout of Azure AD using this code:
`function Logout() {`
`    window.location.replace("https://login.microsoftonline.com/" + Tenant + "/oauth2/logout?post_logout_redirect_uri=" + encodeURIComponent(location.origin + location.pathname));`
`}`

This takes me to the Azure AD logout page and seems to be doing logoff...

Then I'm redirected to the pos

[2017-08-30 20:22] GregPartner commented on #41
Looks good on first tenant, I need to be able to logout with another user to test this though, so created new issue / #46 question for logout, Ta

[2017-08-31 12:20] IanVS commented on #35
Yeah, that'd be great, thanks.

[2017-09-01 20:31] #45 closed

[2017-09-01 22:04] WrathOfZombies commented on #35
@IanVS Here you go: https://unpkg.com/@microsoft/office-js-helpers@0.8.0-beta.1/dist/
and the file being: https://unpkg.com/@microsoft/office-js-helpers@0.8.0-beta.1/dist/office.helpers.js

The new size is 196.32kB uncompressed and 54.01kB compressed.

[2017-09-01 22:04] WrathOfZombies commented on #35
@Zlatkovsky FYI

[2017-09-02 17:21] GregPartner commented on #46
Where are the token stored, and can we access those from any place in JS to clear the token store?

Ta

[2017-09-05 14:39] IanVS opened #47 "IE11 does not send token back to add-in"
I seem to be having the same problems as described in https://github.com/OfficeDev/office-js-helpers/issues/5, but I'm using the latest version of this package (`0.7.4`).  I've made sure that all domains are in my manifest, and all the self-signed certs are installed correctly.  I don't see any error messages, so it's difficult to troubleshoot, but after authentication succeeds, the redirect url i

[2017-09-05 15:18] IanVS commented on #47
An update: this only seems to happen in development, when we are using a `localhost` webpack-dev-server.  After deploying to our production servers, it works fine.  So, I'm going to close this even though there's some kind of problem going on, and it would be great to hear some other things I can try to troubleshoot it.

[2017-09-05 15:18] #47 closed

[2017-09-05 16:03] IanVS commented on #47
Another update: this seems to be related to a security setting of IE.  If I change the security level to `low`, the browser prompts if I want to allow the webpage to open on my "intranet", and if I allow it, everything works fine.  So, it really does seem to be related to the `localhost` url after all.

[2017-09-06 12:27] IanVS opened #48 "0.8.0-beta.1 includes `.html` require in dist file"
@WrathOfZombies thanks for the beta to address https://github.com/OfficeDev/office-js-helpers/issues/35.  I tried using it, and after `yarn add @microsoft/office-js-helpers@0.8.0-beta.1`, I'm getting the following error when I try to build my extension:

[code]

I believe you need to use `file-loader` in addition to `html-loader` to get the contents of the html file. (But that's just a guess).

[2017-09-06 19:05] WrathOfZombies commented on #48
Hmm good catch let me look at that. `file-loader` marks file paths and serves them as is. We want to avoid that and bundle the html code as a template string in `JavaScript`.

[2017-09-06 19:08] WrathOfZombies commented on #46
You can access the local tokens via `authenticator.tokens.get(OfficeHelpers.DefaultEndpoints.AzureAD)`. You can also clear them out via `authenticator.tokens.clear()`.

Also inorder to force a relogin, you can use the force parameter in OfficeHelpers by doing
`authenticator.authentice(OfficeHelpers.DefaultEndpoints.AzureAD, true /* auto clears token and forces reauth */)`

Note: the `force` parame

[2017-09-06 19:08] WrathOfZombies commented on #44
ping @cognologixguru

[2017-09-06 19:11] WrathOfZombies commented on #43
Can you try with `core-js`?

[2017-09-07 01:24] WrathOfZombies commented on #48
Are you using es6 import? If so then that's addressed now in the new build as I included the html file in the compiled output. Otherwise, the html template has already been stringified and included.

[2017-09-07 01:37] WrathOfZombies commented on #48
the new version is **0.8.0-beta.2**

[2017-09-07 01:44] IanVS commented on #48
Yes I am using es6 imports:

[code]

I just gave beta.2 a shot, and am now getting this error:

[code]

I believe this is because my webpack config is set up to only be used on my own files, and not on `node_modules`.  So, the `require` is treating the html file as if it were JavaScript.

[2017-09-07 05:34] cognologixguru commented on #44
Hi @WrathOfZombies ,
I am working on samples. Some API issues are there. I will upload few samples soon.

[2017-09-07 05:37] cognologixguru commented on #43
I have not tried it "Core-js" but "bluebird.min.js" is preferred solution for "Promise" issue.

[2017-09-07 18:37] WrathOfZombies commented on #48
Let me try it out with the angular & react starter kits and get back to you. If it works then I think we'll need to investigate your config further.

[2017-09-07 19:09] WrathOfZombies commented on #43
As long as your browser has a standard `Promise` it should be fine.

If not you would need standard polyfills that defines window.Promise. I see a lot of community support for `core-js` and hence the recommendation.

Also I am aware of bluebird and I am not sure where the preferred recommendation comes from. Could you point me to some docs so that I can understand why? I am finding it surprisingly

[2017-09-07 19:37] IanVS commented on #48
Thanks for looking into it.

Normally it is expected that node_modules contain compiled files that do not require further processing or the use of a a particular bundler like webpack in order to be used within the intended target environment.  Requiring an html file is not something that node or javascript generally knows how to deal with, without the use of something like webpack.  I don't think

[2017-09-07 21:07] WrathOfZombies commented on #48
Yup and I agree. What I am trying to achieve is the same actually. I don't expect node or javascript to import html. It was meant for webpack to pick it up. That said, I am not sure why its trying to do something like that in your build and hence I suggested that something might be funny there.

What I was expecting is `office.helpers.js` is given to webpack and it sees a require statement for a m

[2017-09-13 23:24] WrathOfZombies commented on #48
Here's a new build of the library - https://unpkg.com/@microsoft/office-js-helpers@0.8.0-beta.3/dist/office.helpers.js.

It includes a bunch of optimizations on how the `Storage` module works and also fixes the webpack loading problem. Problem was that webpack was using the source files to recompile the library but with the new tree shaking capabilities of webpack this is no longer needed. If you

[2017-09-13 23:25] #46 closed

[2017-09-13 23:26] WrathOfZombies commented on #42
#44

[2017-09-13 23:27] #35 closed

[2017-09-13 23:28] WrathOfZombies commented on #36
Probably related to #38

[2017-09-13 23:28] #36 closed

[2017-09-13 23:29] #37 closed

[2017-09-13 23:30] WrathOfZombies commented on #38
This bug tracks all the issues with identification of hosts. @Zlatkovsky may be we need to revisit the logic for platform detection.

[2017-09-13 23:32] #40 closed

[2017-09-13 23:33] WrathOfZombies commented on #40
Bug will be tracked here: https://github.com/OfficeDev/office-js/issues/13

[2017-09-13 23:33] WrathOfZombies commented on #42
Closing this as #44 will track this request.

[2017-09-13 23:34] #42 closed

[2017-09-14 01:09] IanVS commented on #48
This does indeed seem to now be working correctly.  Using [source-map-explorer](https://github.com/danvk/source-map-explorer), I can see that all of lodash is no longer being included, and @microsoft/office-js-helpers has gotten slightly larger (because it is now including the parts of lodash it needs, presumably).

0.7.4:
<img src='https://user-images.githubusercontent.com/4616705/30407416-21d0c4

[2017-09-14 01:09] #48 closed

[2017-09-14 17:32] IanVS opened #49 "Incompatible with Office 2013?"
I found that this library is not working when I try to use it in Outlook 2013, and it seems to be due to the use of [displayDialogAsync](https://github.com/OfficeDev/office-js-helpers/blob/37d08e15ff71b07bf7536522d6ac2be618278f3f/src/helpers/dialog.ts#L86).  Is this a known limitation?  If so, perhaps it is something good to list in the readme?

[2017-09-14 17:40] IanVS commented on #49
Nevermind, it seems that I had an older build of Outlook 2013 that does not support the dialog API.

[2017-09-14 17:40] #49 closed

[2017-09-14 17:50] WrathOfZombies commented on #48
Thanks for taking a look. I'll do some more testing and will be publishing the new version. Some new features are going to be added in as well.

[2017-09-20 02:07] Zlatkovsky opened #50 "Authentication fails for web scenario (non-add-in) on IE 11"
Today's readme says the following:

    if (OfficeHelpers.Authenticator.isAuthDialog()) return;

    authentication is complete.

This works great for an Office Add-in.  But what about the web scenario?  There the function returns "false" because host is web, and so the dialog flow -- including messaging back to the parent -- fails to complete.

You can actually see this in Script Lab itself, when

[2017-09-20 19:03] WrathOfZombies commented on #50
@Zlatkovsky, Agreed on the naming. I'll introduce the new signature in 0.8.0 and deprecate the current signature after 2 - 3 releases.

As for the flow itself, I don't see what you hope to accomplish with `isAuthDialog=true`? The dialog closes successfully today and there seems to be some error post that which will debug. Also there's no messaging back happening when its in only Web mode in IE 11.

[2017-09-30 05:21] ostorefice opened #51 "Get User Name?"
Hi office-js-helpers,

Great tool, I just can't figure out where to get the username after receiving the token?
I know ADAL.js gives us the username, but can't find it in this lib.

Any advice?

[2017-10-02 11:55] rinormaloku commented on #19
@WrathOfZombies $ @Zlatkovsky  & @ozippy Did you guys find any solution to 'ozzipy' issue with being redirected inside the pop up?
In my project I am having the same issue. Here a small implementation to demo it: ([repo](https://github.com/rinormaloku/office-react-implicit-auth)).

[2017-10-02 23:50] WrathOfZombies commented on #51
@ostorefice Thanks 👍

There's no way to get user name in this library as we don't control the scope/API implementations of each of the Auth providers. It would add additional maintenance costs and hence I suggest using the Graph API to get that information with the token you obtained.

See more info here: https://developer.microsoft.com/en-us/graph/

Here's a sample on how to use Office Helpers wi

[2017-10-02 23:50] #51 closed

[2017-10-02 23:55] WrathOfZombies commented on #50
@Zlatkovsky After thinking this through more carefully, I realize the current name is the best possible name that I can provide. But before I discuss that, the error that you are facing isn't related to `messageParent` and the host detection is working fine. Its an IE11 issue that I am trying to work around and will fix it soon.

As for the name itself. The idea behind the name is as follows:

[co

[2017-10-03 00:46] Zlatkovsky commented on #50
Bhargav, I agree that as single call that both dispatches and returns a result, it's hard to make that API name better.  But what if you have something like this:

    let initializeResult = Authenticator.initializeIfRelevant();
    if (initializeResult.isAuthDialog) {
        // ...
        return;
     }

Which of course can be simplified to

    if (Authenticator.initializeIfRelevant().isAuthDi

[2017-10-04 00:44] WrathOfZombies commented on #50
@Zlatkovsky Would you like to test out https://unpkg.com/@microsoft/office-js-helpers@0.8.0-beta.4/dist/office.helpers.js. This addresses all the authentication issues faced in IE11

[2017-10-04 00:45] WrathOfZombies commented on #44
@cognologixguru here's a sample :) https://gist.github.com/WrathOfZombies/a2c6321a4d7e35c95f87d163ac4cb241

[2017-10-04 00:45] #44 closed

[2017-10-04 00:46] WrathOfZombies commented on #19
@rinormaloku let me try it out and get back to you.. And no we haven't found a solution to @ozippy's issue

[2017-10-04 01:01] WrathOfZombies commented on #19
The sample worked fine for me. @Zlatkovsky, @sumurthy   I am beginning to think this is an issue with the dialogAPI on Outlook. You can take a look at the GIF below. There are only two differences here:

1. I am using Word online instead of Outlook
2. I am using my own custom manifest

![working-auth](https://user-images.githubusercontent.com/3244360/31155679-c3a52166-a864-11e7-979d-10530ae157a0.g

[2017-10-05 09:38] rinormaloku commented on #19
@WrathOfZombies I tried this with [hello.js](https://adodson.com/hello.js/) and it's redirection worked correctly, even in Outlook.

[2017-10-05 18:26] azolson commented on #51
If, by username you mean the UPN then this is one of the returned values (I'm using the /me endpoint when querying msft graph)

I'm using react, but the following code is probably quite obvious, and provides me with the UPN (the token's scope used for this request is https://graph.microsoft.com/User.Read):

[code]

returned values:
[code]

[2017-10-16 21:31] WrathOfZombies commented on #51
@azolson yes the username would be the UPN.

[2017-10-16 21:34] WrathOfZombies commented on #19
@rinormaloku hello.js doesn't use the Office dialog to authenticate and this can be problematic when trying to use the Add-in inside of Desktop/MAC Clients. I am assuming that by redirection you meant that the dialog doesn't close?

[2017-10-16 21:50] rinormaloku commented on #19
@WrathOfZombies Yes by redirection I mean that the dialog doesn't close like in your gif example.
While using hello.js the dialog closes (i.e. the access_token is redirected to the app)

[2017-10-18 07:32] AlexUrbanAc opened #52 "Opening SSO popup fails"
I got the SSO login working in Chrome with popup, and now I am trying the Outlook plugin against Outlook 2016 (EXE version 16.0.8431.2107). When I open F12 Developer Tools and call

Authenticator.authenticate("AzureAD")

I get

Script 5022: Die Domäne der URL ist nicht im "AppDomains"-Element im Manifest enthalten.

but the endpoint's baseUrl is

https://login.windows.net/09265c06-...-1c39

and my

[2017-10-20 00:09] GregPartner opened #53 "Unit testing"
Do you have samples of unit tests for this framework, where we can supply test user credentials
and more generally how do we test any office js addins?
Ta

[2017-10-23 14:29] AlexUrbanAc opened #54 "Getting id_token fails"
I am right now trying to get an id_token through Office-js-helpers, because this seems compatible with ADAL.js behaviour for my app:

me.Authenticator = new OfficeHelpers.Authenticator();
me.Authenticator.endpoints.registerAzureADAuth(settings.clientId, settings.tenant, {
    responseType: 'id_token',
    redirectUrl: window.location.origin + window.location.pathname
});
me.Authenticator
.authenti

[2017-10-25 00:41] WrathOfZombies commented on #54
Will take a look at this. Thanks for reporting.

[2017-10-25 00:42] WrathOfZombies commented on #53
Its difficult to unit test add-ins. As for OfficeHelpers it's on my plate to write unit tests.

[2017-10-25 00:43] WrathOfZombies commented on #52
Yes it is correct. And yes it has worked for folks including myself. That said, can you send me a repro project so that I can run it and see what's happening.

[2017-10-25 00:45] WrathOfZombies commented on #19
@rinormaloku I am actually rewriting the dialog logic for Web based clients. Let me send you a beta version for you to try out in 2 - 3 days.

[2017-10-25 00:46] WrathOfZombies commented on #38
Closing this as we do not have a consistent repro.

[2017-10-25 00:46] #38 closed

[2017-10-25 00:46] WrathOfZombies commented on #50
ping @Zlatkovsky

[2017-10-25 00:49] WrathOfZombies commented on #52
@AlexUrbanAc Alternatively could you try this beta version and tell me if it works for you? https://unpkg.com/@microsoft/office-js-helpers@0.8.0-beta.4/dist/office.helpers.js

[2017-10-25 06:14] m1chaeldg opened #55 "Need help with authenticator(Popup is not closing)"
Hi,

So far I followed all the steps on how to setup this. Like adding the IDP/SSO in app domain list in the manifest file. Setting the Requirement set MinVersion to 1.4 of Mailbox. Using https and trusted cert.

The authentication popup is working and redirecting to our SSO eg google and custom SSO (Identity Server 4). The user can login but when it comes to close or send a message from popup dia

[2017-10-25 13:15] Mangemannen66 opened #56 "newWindowNotificaiton dialog"
Hi!

Is there any easy task to get past the "issue" of having to approve opening of a new window?

![newwindownotification](https://user-images.githubusercontent.com/6208986/32000441-fedfbcf8-b996-11e7-9dbe-7d9adf09ecc1.png)
Thanks in advance
(The misspelling -> newWindowNotificaiton is actually copied from the webinspector)

[2017-10-25 17:50] WrathOfZombies commented on #56
@Mangemannen66 Nope sorry at this moment this is by design.

FYI: @sumurthy, @Zlatkovsky, more feedback on this issue.

[2017-10-25 17:50] #56 closed

[2017-10-25 17:51] #53 closed

[2017-10-25 17:52] WrathOfZombies commented on #55
@m1chaeldg Thanks for reporting this. Yes I am aware of an issue with outlook and I am trying to find solutions that work for everybody. Can you try using this beta of OfficeHelpers and tell me if the issue is resolved for you?

https://unpkg.com/@microsoft/office-js-helpers@0.8.0-beta.4/dist/office.helpers.js

[2017-10-25 19:24] Zlatkovsky commented on #56
Noting that the question has been moved to StackOverflow:  https://stackoverflow.com/questions/46928205/how-to-automaticly-approve-opening-of-new-window-for-authenticating.  Thanks, @Mangemannen66 (though please see my comment there)

[2017-10-25 19:33] Zlatkovsky commented on #50
@WrathOfZombies , I tried integrating "0.8.0-beta.4" into Script Lab just now.  I can't speak to the authentication issues, but it does break a bunch of other stuff (editor doesn't fully load; get an "Unable to get property 'lastUpdatedText' of undefined or null reference, which is coming out of Script Lab code, but is presumably being caused by some change in the Office.js helpers).

I haven't ha

[2017-10-25 19:34] Zlatkovsky commented on #50
BTW, is there a way (a tag?) by which I could view the diff between 0.8.0-beta.4 and 0.7.4?

[2017-10-25 19:37] WrathOfZombies commented on #50
Here's the delta but its quite large as there have been many changes from 0.7 to 0.8...

https://github.com/OfficeDev/office-js-helpers/compare/master...bhkrish/revamped-dialog-flow

[2017-10-26 10:18] m1chaeldg commented on #55
Thanks. I will try and update you the result

[2017-11-03 05:11] realpasro09 opened #57 "Need to increase the oauth2 token expiration"
When I trying to authenticate using **registerMicrosoftAuth** I notice that the token expire by default in 3600 seconds.

I was reviewing the library and I'm seeing a method **setExpiry** inside TokenStorage class
[https://github.com/OfficeDev/office-js-helpers/blob/4687cc5320b934b464a5fcd0ed648a031e9e07fc/src/authentication/token.manager.ts#L42-L47](https://github.com/OfficeDev/office-js-helpers/

[2017-11-06 18:11] WrathOfZombies commented on #57
That method wasn't exposed as I wished to renew the token as soon as it expires. That said, today if you want to modify the expiration then you can do the following:

[code]

When the set expiry logic kicks in, it will first try and read if there's a valid expiration and then go ahead and determine the expiration date (expires_at) which then let's the authenticator determine if a new login is requ

[2017-11-14 16:39] elegault opened #58 "Guidance for use in Outlook"
I'm having issues trying to use this library in an Outlook web add-in with Azure AD.  I can get the auth dialog to popup and have the user login and then authorize the application.  However after that step (and subsequent retries) the auth page displays the "Sorry, but we're having trouble signing you in" page with this error:

AADSTS50011: The reply address 'https://mywebapp.azurewebsites.net' do

[2017-11-20 18:16] WrathOfZombies commented on #58
So the issue here is that your Azure AD application has been set to redirect the user to a registered `redirect_url` with the user's token. This is done for security reasons.

However in OfficeHelpers, for convenience, we auto set the redirect url to your current application's domain, in this case, https://mywebapp.azurewebsites.net. In order to solve this please copy the `redirect_url` as is and

[2017-11-20 18:19] #57 closed

[2017-11-20 20:06] elegault commented on #58
Note that I have been using registerAzureADAuth, not registerMicrosoftAuth, as Exchange Online permissions cannot be set using the latter type of application AFAIK.  I had tried using the redirectUrl parameter with registerAzureADAuth but it didn't work (perhaps because I also included the responseType: 'id_token' parameter and value, which I'm not sure is incorrect or not).  Should I try again us

[2017-11-20 23:19] WrathOfZombies commented on #58
Let me break this down into multiple replies.

Please use a url that you'd want your users to be redirected to after login. This can be the default page at the root or a custom page saying authenticated. The only significance of this is that on AzureAD you're telling to send the user with the token back to this page and on the Add-in, we are waiting for this page to appear in the popup so that we

[2017-11-21 04:10] elegault commented on #58
Thank you very much - I will get on all that!

[2017-11-21 18:35] #58 closed

[2017-11-25 15:57] dong-gyun commented on #52
I tried it with beta version. when try in ie11, this version occur error Array.from and Map initialization. when test in chrome, it work wall.

[2017-11-28 04:29] WrathOfZombies commented on #52
Yes you need to include `core-js` library. Its listed as a per-requisite for this library. You can get it from https://unpkg.com/core-js/client/core.min.js

[2017-11-28 05:36] dong-gyun commented on #52
Thank you very much. I include core-js in my project, so it works well in ie11.

[2017-11-29 07:57] chilejiang1024 opened #59 "Getting different Office API client ID in the same client."
I get two different ID in the same client.

But with different domains.

I wonder is there something to do with server when generating IDs?

[2017-11-29 20:07] WrathOfZombies commented on #59
Could you tell me what is the **Office API client ID** as I am not quite sure about it?

[2017-11-30 01:28] chilejiang1024 commented on #59
Like this one.

![qq 20171130092507](https://user-images.githubusercontent.com/16152022/33408291-b2024212-d5b0-11e7-9038-115ac94e59eb.png)

And I use these codes to get it.

[code]

[2017-12-03 23:35] rluta opened #60 "Adding a new endpoint fails in Excel Add-In in Chrome"
I'm trying to use the Office Helpers to authenticate against a private OAuth2 endpoint with implicit flow in a React based Add-In for Excel.

When I run the following code in the add-in within the `Office.initialize` callback and my add-in is side loaded in Excel 365 :

[code]

I always get the following error from chrome in the debug console:

[code]

Is there a way to prevent the EndpointManager

[2017-12-05 11:09] ChobiJava commented on #50
Still seeing the problem that the Dialog won't close correctly in IE11 with 0.8.0-beta.4.

It seems to lie in that even though I'm running IE11, ` Utilities.isAddin()` still returns true in `Dialog.close().`

[2017-12-06 19:45] WrathOfZombies commented on #60
Unfortunately the entire token logic is based off of `localStorage`. At best we can switch out to `sessionStorage` but that's about it. That said, `localStoage` I think its very integral to Office.js as well. Is there a reason why it is disabled?

[2017-12-06 19:45] WrathOfZombies commented on #59
@Zlatkovsky any thoughts on this?

[2017-12-06 19:54] WrathOfZombies commented on #50
@ChobiJava

So in the beta, the dialog problem with IE11 is solved by using `localStorage`. I have an interval tick to check if a particular unique localStorage item has been set and if so extract it and get the value from there. When running the beta and launching the dialog, after the redirection is complete, please check if the localStorage contains this key: `VGVtcG9yYXJ5S2V5Rm9yT0pIQXV0aA==`?

[2017-12-07 02:59] Zlatkovsky commented on #59
Where does this "Office API Client" ID come from in the first place, though?

If you think it's a bug with Office.js, I recommend you file it under "https://github.com/OfficeDev/office-js/issues" and/or ask a question on StackOverflow tagged with "office-js".  A bit more context might help as well (e.g., what host app are you running this from; what version; etc.).

[2017-12-07 09:52] ChobiJava commented on #50
@WrathOfZombies

Yeah, I found the reference to that key in the code while debugging. The value of the key is never set because of this codeblock

![image](https://user-images.githubusercontent.com/8879658/33709060-7fbb6a36-db3c-11e7-810a-a46c1d376b34.png)

For the `Utilities.host` it returns `OUTLOOK`, while `Utilities.platform` returns `OFFICE_ONLINE`.

[2017-12-07 15:47] WrathOfZombies commented on #50
Then that is expected. As we want to use Outlook's Add-in dialog. That said I am going to raise this as a platform bug as many folks have reported that the dialog doesn't close in IE11.

[2017-12-11 05:57] chilejiang1024 commented on #59
Thanks for recommend.
I asked a question like this one on StackOverflow some days ago, but it got down vote, and an answer asked me to read the doc in [here](https://github.com/OfficeDev/office-js-docs), I already read it times months ago. No where has infomation about this ID. So I deleted the question, and came here.

Things seems  to be more conplex than I thought.
 A bug, I do not think it is.

[2017-12-11 17:14] WrathOfZombies commented on #59
@chilejiang1024 Thanks for explaining. However I am still unable to see what the bug is. Even if they are different IDs, I am not sure what you are trying to achieve using this ID.

@Zlatkovsky I think I managed to find where this item is being set and it is not in OfficeHelpers but in Word.js (https://github.com/OfficeDev/office-js/blob/release/dist/word-win32-16.00.debug.js#L3740)

[2017-12-12 06:46] chilejiang1024 commented on #59
Thanks for helping!
 I don't think it is a bug.
What I want is that once users login in word add-in, then he/she won't need to login again when he/she open another word in he/she's pc. So I need to know whether the requests come from the same pc's word. Then I found this ID.

[2017-12-12 19:46] WrathOfZombies commented on #59
Got it. That makes sense. Let me answer it in 2 scenarios.

Assuming that the user launches another Word/Excel on the same machine that he's authenticated already then you don't have to do much. All you need to do is call:

[code]

If it is on a different machine then you need to have server side capabilities to transfer the token between sessions. You can also use the microsoft graph to "roam" th

[2017-12-13 19:08] MichalKoscielniak opened #61 "Azure AD B2C - presenting wrong login page."
Is it possible to use it for Azure Active Directory B2C  ? When i try to use the library with following code:

[code]
It's opening the "general" microsoft login page instead of my tenant's login page.

[2017-12-14 19:40] jcserracampos commented on #6
Can we reopen this and provide a complete example with JS?

[2017-12-18 17:42] WrathOfZombies commented on #6
@jcserracampos, I started down the path of writing an example but the problem was the number of variants in which we can use this library are many.. Rather if you could tell me what you are looking for specifically and what information was lacking from the docs, I can
1. Provide a suitable example
2. Improve the docs for the next person

[2017-12-18 18:14] afrance commented on #6
Well, its probably the same issues I've had where everyone here seems to
want to insist all you need to do is 'add these couple lines here and it
just works' yet when its attempted it doesn't work.

All that's needed is a real working example that logs in correctly imo.
People can say all day long that its just this line here, that line there
and this one here and TaDA!  Here people just ripped so

[2017-12-19 12:25] jcserracampos commented on #6
Personally, I'm trying to authenticate with Todoist so it isn't on the methods.
I accomplished to obtain user's code, but I can't close response window and exchange code to user's token.

[2017-12-19 17:55] WrathOfZombies commented on #61
Weird.. I am not sure about this. Let me get back to you. We add the tenant Id in the url and that should focus the auth only to the specific B2C directory.

[2017-12-19 17:55] WrathOfZombies commented on #60
@rluta ping..

[2017-12-19 18:14] WrathOfZombies commented on #6
@afrance, Sorry to hear that. We are trying to achieve exactly that where it should be really simple and effortless to complete authentication. To help unblock both of you guys for the moment, here's a javascript sample. I'll publish a sample as soon I get some bandwidth to complete it.

[code]

@jcserracampos: I am working on a new beta version of Office Helpers which solves the dialog not closin

[2017-12-26 15:38] rluta commented on #60
`localStorage` is disabled by Chrome whenever someone disables third-party cookies in the preferences which is a fairly common non-default setting.

[2018-01-02 02:43] TheSamsterZA commented on #35
@WrathOfZombies Do you have a rough idea of when 0.8.0 will be published to npm? Like @IanVS, I am attempting to slim down my dependencies and the entirety of lodash is right up there because `@microsoft/office-js-helpers` pulls it in.

Currently, the latest on npm is 0.7.4.

[2018-01-07 22:59] WrathOfZombies commented on #35
@TheSamsterZA, @IanVS: There were some issues found in the beta that I am addressing and I am adding some unit tests. The plan was to launch by New Year's but looks like I am going to push it to the end of Jan.

Sorry for the delay :)

FYI: @Zlatkovsky, @Reezaali

[2018-01-25 19:57] TimJohns commented on #60
We're running into this same issue, along with some related behavior we don't like with the default configuration on other browsers, in addition to specific Chrome issue @rluta raised. Wondering if there is a workaround or we're missing something (i.e. for deployed add-ins, does Microsoft proxy the implementation so it's served from a Microsoft domain, etc.)?

[2018-01-27 00:30] davallen opened #63 "office-js-helper"
I have been trying to implement a custom app in Teams. As part of the app i am making a call to an external web API. I am trying to use the office-js-helpers library to obtain a id_token, but I am seeing that the _handleTokenResult does not handle the id_token responsetype result, even though the library allows for providing a responseType. Am I missing something obvious? Or is not supporting this

[2018-01-29 22:10] WrathOfZombies commented on #63
@davallen Let me take a look and get back to you on this.

[2018-01-29 22:12] WrathOfZombies commented on #60
I am looking into an approach where you can use in-memory cache to store the values instead of relying on localStorage. Will keep this thread updated.

[2018-02-12 10:44] mvpkenlin opened #64 "Is there anything difference settings between Azure AD only App and Converaged App?"
Under Application Registration Portal, there are 2 types of applications, converaged app and Azure AD only app.

I followed the steps and successfully get the token from the app in "converaged app" type.
However the same code same settings, it does not work when the app in "Azure AD only applications" type. The returned error when calling the `authenticator.authenticate` method is,

``
AADSTS90130

[2018-02-18 19:47] alx-andru commented on #55
I'm actually seeing the same issue with `https://accounts.google.com`

`Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://accounts.google.com') does not match the recipient window's origin ('https://localhost:44323')`

Any ideas or hints?

[2018-02-20 12:40] PavlezT commented on #28
"office-js" add to `types` array in tsconfig.app.json file in your `src` folder.

[2018-02-24 17:19] WrathOfZombies commented on #64
Sorry for the late response, I think for the coverged app you are encourage to use the Microsoft Authentication flow instead of the Azure AD flow.

And within the Microsoft authentication flow, you can override the baseUrl to include your tenantId.

[2018-02-24 17:20] WrathOfZombies commented on #63
@davallen Could you provide me a sample solution where you are seeing the problem so that I can get a clear repro?

[2018-02-24 17:21] WrathOfZombies commented on #61
@MichalKoscielniak Sorry for the late response, I wasn't able to get much info on this. Not sure if we are making the wrong call.

[2018-02-24 20:01] WrathOfZombies commented on #60
@TimJohns, @rluta. Finally added an inmemory storage option. To use it you'll need to do the following:

[code]

That should throw 2 warnings in your console signifying that we are using in-memory storage. Let me know if you have issues.

[2018-02-24 20:01] #60 closed

[2018-02-24 20:03] WrathOfZombies commented on #55
Just pushed an update to solve dialog issues in IE11 & Edge. Please try the latest [version](https://unpkg.com/@microsoft/office-js-helpers)

[2018-02-24 20:03] #52 closed

[2018-02-24 20:04] WrathOfZombies commented on #50
Please try the latest version and let me know if you are still seeing issues. @ChobiJava

[Get the latest from here](https://unpkg.com/@microsoft/office-js-helpers)

[2018-02-24 20:04] #50 closed

[2018-02-24 20:05] WrathOfZombies commented on #19
The latest version is live at https://unpkg.com/@microsoft/office-js-helpers

[2018-02-24 20:05] #19 closed

[2018-02-24 20:05] WrathOfZombies commented on #18
WIP

[2018-02-24 20:05] WrathOfZombies commented on #6
There's now a working sample in the `demo/` folder.

[2018-02-24 20:05] #6 closed

[2018-02-25 16:35] ayushsood opened #65 "container params colliding for endpoints and token storage"
See:
  - https://github.com/OfficeDev/office-js-helpers/blob/master/src/authentication/token.manager.ts#L36
  - https://github.com/OfficeDev/office-js-helpers/blob/master/src/authentication/endpoint.manager.ts#L63

If you set up an OAuth endpoint via:

[code]

And try to print out a token (should be `null`), via:
[code]

You get the endpoint configuration back.

Suggested fix:
Change line 36 in `t

[2018-02-26 03:29] m1chaeldg commented on #55
@alx-andru ,
try to look at your manifest file. Make sure the AppDomain's value is correct. It will point to your localhost or target domain where you deploy the addin and the port and no slash at the end.
https://localhost:444/ is not equal to https://localhost:444.
sample value of app domain

`<AppDomains>
    <AppDomain>https://localhost:444</AppDomain>
  </AppDomains>`

[2018-02-26 09:29] MichalKoscielniak commented on #61
@WrathOfZombies In the end we have wrote our own AAD B2C integration. But in order to make yours work we had to "add" two parameters to url constructed by your library:
1) domainHint=mydomain.com
2) don't remember the name but it was 2 characters long and contained x ( dx or something like that )

Regards,
Michal

[2018-02-26 10:50] ChobiJava commented on #50
The code seem to execute correctly @WrathOfZombies , but unfortunately as stated in [this new issue](https://github.com/OfficeDev/office-js-helpers/issues/65) the configuration for the endpoint is returned rather than the actual token.

[2018-02-26 15:19] ayushsood opened #66 "excel add-in opens new tab in chrome instead of pop-up"
I'm using a Mac - behavior is as expected if opened via Chrome itself (opens a pop-up), but when opened as an add-in within excel, it instead opens a new tab in Chrome preventing the user from completing the sign-in process.

Perhaps related to https://github.com/firebase/firebase-js-sdk/issues/63 (though I'm using Chrome 64, which should be fixed)

Also is there any documentation on how to debug

[2018-03-02 18:56] WrathOfZombies commented on #65
There was a bug in the container name. This has been addressed recently. I'll push a new update to the library.

Thanks

[2018-03-04 07:53] ayushsood commented on #65
@WrathOfZombies it would be helpful if the issues were kept open until the fix has been merged in and pushed to the npm repo. Thanks!

[2018-03-04 07:58] ayushsood opened #69 "convertHostValue returns undefined if host is undefined in utilities.ts"
In the case that `host` is `undefined` it would be helpful if there was a default value here: https://github.com/lemniscate-labs/office-js-helpers/blob/master/src/helpers/utilities.ts#L102

Can it fallback to the following:
[code]

[2018-03-07 09:40] indriesergiu opened #70 "Is it possible to refresh an access token without requesting user login?"
Using adal.js with implicit flow it is possible to refresh the obtained access token (without a refresh token) and thus prolong the user session without requiring user login. This is possible until the Azure AD session cookies expire.
Is this possible with office-js-helpers? I would like to keep the user logged in as long as possible.

[2018-03-07 09:42] indriesergiu opened #71 "Is it possible to request multiple tokens from the same endpoint with a single user login?"
Using adal.js with implicit flow after user login (Azure AD in my case) it is possible acquire tokens for multiple services without user interaction. Is this possible with office-js-helpers?

[2018-03-07 22:30] WrathOfZombies commented on #71
If the user is already logged in, then the user will see a popup flash. There is a way to do implicit iframe authentication but I haven't implemented it yet.

[2018-03-07 22:32] WrathOfZombies commented on #69
Good catch. Can you send a PR?

[2018-03-07 22:34] WrathOfZombies commented on #66
@ayushsood I see that you managed to resolve the issue. Is there an action item here?

[2018-03-07 22:36] WrathOfZombies commented on #65
Fixed in https://unpkg.com/@microsoft/office-js-helpers@1.0.1/dist/office.helpers.js

[2018-03-07 22:36] #65 closed

[2018-03-09 11:30] indriesergiu commented on #71
Ok, thanks. Do you have any plans to implement support for this feature?

[2018-03-09 22:23] carldaniels commented on #28
Thanks! @WrathOfZombies and @PavlezT .... add @types/office-js to the package.json file, and adding "office-js" to the types array to the tsconfig.app.json worked for me

[2018-03-11 20:37] #55 closed

[2018-03-21 15:58] drudv opened #73 "Support for SharePoint."
The following code:
[code]
produces this error in SharePoint online being called from an Embed.
[code]
Looks like it's not currently supported by SharePoint Online. If so, do you plan to support it soon?

[2018-03-22 16:13] blandine opened #74 "UI.notify broken since version 1.0.0"
I recently tried to upgrade from 0.7.4 (npm version) to 1.0.1, but the notifications don't work anymore.
I tried with version 1.0.0 ans it doesn't work either.

I downgraded to version 0.7.4 and it works.
The code is :
[code]
In version1.x, text is missing, only the "x" icon is displayed but clicking on it doesn't make it disappear.
Has anyone else encounter this issue?

Thank you for your time

[2018-03-23 19:52] #74 closed

[2018-03-29 15:08] RaphyLi commented on #19
@WrathOfZombies I use the last version of `office-js-helpers` (1.0.2) with `https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js` but when the authentificator call `Office.context.ui.displayDialogAsync`  he said `error TypeError: Cannot read property 'displayDialogAsync' of undefined`.
When a I debug I see `Office.context.ui` is undefined.

I also tried to generate a new projet with `yo of

[2018-04-02 12:21] blandine opened #76 ""Unable to delete 'Microsoft' from storage" with version 1.0.2 on IE11 and Edge"
Hi,

I use office-js-helpers in an Excel addin.
The authentication helpers works well the first time on IE11 and Edge. But after reloading the addin, this errors appears in the console and the addin can't load :
[code]
I don't know yet if it's related but I can't get my addin work anymore in Excel.
Everything is ok in Chrome and Firefox.
Thanks for your time

[2018-04-05 17:47] jasonjoh opened #77 "Blank authentication dialog in Windows Outlook"
I'm using the [attachments demo add-in](https://github.com/OfficeDev/outlook-add-in-attachments-demo). I'm debugging locally in Visual Studio.

As background, the add-in attempts to get an SSO token first, and if that fails, it falls back to use the Authenticator class from this library. If I run the add-in and don't do the steps under **Provide user consent to the app** in the README, the Authent

[2018-04-05 18:00] jasonjoh opened #78 "DialogError: URL must be https"
I'm using the attachments demo add-in. I'm debugging locally in Visual Studio, and I'm using Outlook on the web in Chrome.

I invoke the add-in's task pane by selecting a message with attachments, then clicking the **Choose attachments** add-in button:

![image](https://user-images.githubusercontent.com/8966342/38382718-ab59b824-38d8-11e8-8369-2857425c7de8.png)

Clicking the save icon by one of th

[2018-04-05 18:00] sremiger1 opened #79 "A default export can only be used in an ECMAScript-style module. v 1.0.2"
C:\Projects\Outlook Add-in\Plugin\node_modules\@microsoft\office-js-helpers\dist\office.helpers.d.ts
(628,10): error TS1319: A default export can only be used in an ECMAScript-style module.

remove the default from the following line and it compiles
`export default function stringify(value: any): string;`

`export function stringify(value: any): string;`

[2018-04-06 16:02] sremiger1 opened #80 "token expires check is not correct"
https://github.com/OfficeDev/office-js-helpers/blob/master/src/authentication/token.manager.ts

method hasExpired

Line
[code]
It is not correct
if the token has an expires_at and it is null than the token has not expired but if the token exists but the expire_at is undefined than the token is not correctly formed for this eval

If the token does not have an

then the token no matter what is not v

[2018-04-09 07:22] P4trik opened #81 "Uncaught Error: Cannot close dialog"
Hello,
I implemented the office-js-helpers into my React Outlook Add-In.
I get the following error message:

![image](https://user-images.githubusercontent.com/2085861/38484437-e3d5ef6e-3bd6-11e8-9fa8-92b85857b803.png)

The dialog with the token opens up and I already see the token as GET parameter (https://localhost:3000/#access_token=eyJ0eXAiO...).

I added the "https://localhost:3000" URL in th

[2018-04-09 20:58] wilsonyqm commented on #76
we have the same issue, our workaround is trying to cache the error and do `global.localStorage.clear()`.  it's failing on [https://github.com/OfficeDev/office-js-helpers/blob/master/src/authentication/token.manager.ts#L81](this line), the token expired, but the provider doesn't exist before it tries to delete.

[2018-04-12 19:08] ydogandjiev opened #82 "TypeScript 2.8.1 errors with latest office-js-helpers and office-js types"
Relevant modules from from package.json:
[code]

Result in the following errors:
[code]

Known issue?

[2018-04-12 19:28] ydogandjiev commented on #82
FYI @WrathOfZombies, @sachingupta

[2018-04-14 16:11] erfaan opened #83 "authenticator.authenticate appends extra parameter action=displayDialog in URL"
Code:
[code]
A new tab is opened in Safari with URL:

https://accounts.google.com/o/oauth2/v2/auth?response_type=token&client_id=XXXXXXXX&redirect_uri=https%3A%2F%2FXXXXXXXXX&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fplus.me&resource=https%3A%2F%2Fwww.googleapis.com&state=XXXXXXXXX&action=displayDialog

And Google shows this error:
<img width="743" alt="screen shot 2018-04-14 at 9 04 08 pm"

[2018-04-17 08:24] WrathOfZombies commented on #76
There's a bug in the expiry logic #80 and this might be related to that. I'll fix it shortly.

[2018-04-17 08:26] WrathOfZombies commented on #73
No plans on this yet. If you wish you could send a PR. For the moment I am going to focus on stabilizing the latest release and post that I can look into this.

[2018-04-17 08:27] WrathOfZombies commented on #71
It is on my mind. I'll get to it after I complete stabilizing the existing release.

[2018-04-17 08:29] WrathOfZombies commented on #70
I haven't implemented hidden iframe refresh. Perhaps you could send a PR for the same?
Else i'll have to put this on the backlog.

[2018-04-17 08:29] #66 closed

[2018-04-17 08:29] #64 closed

[2018-04-17 08:30] #63 closed

[2018-04-17 09:07] erfaan commented on #83
I am using Outlook 16.11 (180311) on MacOS High Sierra (10.13.4)

[2018-04-17 09:51] drudv commented on #73
But it's necessary to support it on the SharePoint side as well, isn't it?

[2018-04-17 13:40] jasonjoh commented on #78
It's this one: https://github.com/OfficeDev/outlook-add-in-attachments-demo

[2018-04-17 16:26] Zlatkovsky commented on #82
Or perhaps @casieber can take a look?

[2018-04-17 17:06] casieber commented on #82
I'm not getting the `Cannot find namespace 'Excel'` error, but I do see the `default export` issue.

For the `default export` error, this is because the output typings are still using the rather antiquated `namespace` / internal module pattern and trying to export a default from the namespace.

Moving away from TS namespaces and into just standard modules is something we need to do not only for th

[2018-04-17 18:38] wilsonyqm opened #85 "messageParent not closing dialog in IE 11"
we are implementing Excel Addin on all platforms, the dialog won't close on IE 11 only.
The code goes to this line which suppose to close the dialog right?
https://github.com/OfficeDev/office-js-helpers/blob/73e0df2dc392468a2576b94c9ebe94e52d62dcfe/src/helpers/dialog.ts#L189

It was working before, it seems like the update on IE 11 recently on April 10th could break it.

Let me know if you guys ha

[2018-04-17 18:45] #79 closed

[2018-04-17 20:16] russgove commented on #73
Hey I've been trying to do something similar. You may find this interesting: https://yetanothersharepointblog.wordpress.com/2018/04/13/creating-and-outlook-add-in-using-an-spfx-webpart/

[2018-04-19 03:53] mvpkenlin commented on #64
I am sorry for the late reply too. I mean, I can pass the authentication if my app is registered in "Converaged app" Type in development environment.

But the application in production environment actually is "Azure AD only" type and I cannot pass the authentication. What could I do?

[2018-05-01 14:00] blandine commented on #85
As a side note, I solved a similar issue ( Office.context is not defined in the dialog because Office.initialize hasn't been called after the redirection) when running the addin on localhost with IE11. I removed the IE intranet specific behaviour on IE options:
![https://i.stack.imgur.com/kL8T8.png](https://i.stack.imgur.com/kL8T8.png)
I've followed this SO answer : https://stackoverflow.com/quest

[2018-05-06 21:31] WrathOfZombies commented on #82
This is now fixed. To address the issue, please also install `@types/office-js`. I'll be listing office-js as a peer dependency in the next update.

[2018-05-14 05:15] binarykitchen opened #86 "What reply URL to configure to make it work with native Outlook?"
Developed an add-in and tried to test it on native Outlook for Mac OS.

But upon authentication on login.microsoftonline.com I see following error:
![screen shot 2018-05-14 at 17 13 50](https://user-images.githubusercontent.com/177641/39979387-40014aac-579a-11e8-9ce6-46b4d23af6bd.png)

Here is what I have configured under apps.dev.microsoft

![screen shot 2018-05-14 at 17 15 04](https://user-image

[2018-05-14 05:21] binarykitchen opened #87 "In https://outlook.office365.com promise never gets executed"
I have following code for testing an add-in I'm developing locally and show it up on https://outlook.office365.com/

It seems the promise never gets executed for whatever weird reason. The `console.log` call never prints this text. Any clues why?

[code]

[2018-05-14 23:22] binarykitchen opened #88 "TypeError: Cannot read property 'displayDialogAsync' of undefined"
This error happens when I want to test authentication on https://localhost:3443 for an add-in I'm developing locally:

![screen shot 2018-05-15 at 11 21 38](https://user-images.githubusercontent.com/177641/40028328-535623fa-5832-11e8-880f-6a41c219537e.png)

Any clues what it is?

[2018-05-14 23:25] binarykitchen commented on #88
So, Office.context.ui is undefined. Hmmm, but Office-JS is loaded fine.

[2018-05-15 22:02] binarykitchen opened #89 "Allow a custom endpoint/URL for the authenticate function"
Initially raised in https://github.com/OfficeDev/office-js/issues/132#issuecomment-389228887

The problem is that the first page must be in my domain, redirecting to the Microsoft Endpoint.

`authenticator.authenticate()` doesn't do that and isn't really helping. Would be good to enhance it with custom endpoints allowing the add-in domain itself.

[2018-05-16 18:50] Seebiscuit opened #90 "Parameter extraction does not expect leading front slash in url"
This is for a Word Taskpane Add-in.

I am trying to set up Authentication. I get as far as selecting a user inthe auth popup and the popup redirecting to the add-in again.

In `Authenticator.prototype._handleTokenResult`  the method parses a result object with the following shape:

[code]
You'll notice that the first property includes a `/` (front slash). That's throwing off `Authenticator.prototy

[2018-05-22 20:36] coler-j commented on #54
Any update on this? How do you get the id_token attribute? It is still not handled...

[2018-05-29 08:11] WrathOfZombies commented on #54
@casieber Can you take a look at this. From what I last saw, we'd only need to add a check for id_token in isAuthDialog() and also extract that via extractUrlParams()

[2018-05-29 08:14] WrathOfZombies opened #92 "Update dependencies to address security issues"
@casieber, Please look into this as I got a notification from GitHub. This doesn't affect deployed code however, but it is still better to stay compliant.

[2018-05-29 15:27] IanVS commented on #78
I was also getting this error message when using `authenticator.authenticate(endpointName)` without specifying a `baseUrl`.  Previously, I could give it a `""`, and it would work fine (due to the way I'm using webpack-dev-server).  Now I need to actually give it an address starting with `https://`.

[2018-05-29 15:28] IanVS commented on #24
Note for others who might come across this:

`authenticator.tokens.remove`

is now:

`authenticator.tokens.delete`

[2018-05-31 08:16] Murugananths commented on #6
Hi Team,

The same sample code mentioned "WrathOfZombies commented on Dec 19, 2017" have been implemented but am not getting token response instead am getting 12002 error code.  Redirect url should have been hosted?

[2018-06-01 13:00] Murugananths commented on #46
Hi Team,

I am getting 12002 dialog error when configuring 3rd party configurations. Can you please suggest any possible causes?

[2018-06-01 13:31] Murugananths commented on #54
Hi Wrath,

I am trying to authenticate office helpers using custom endpoint configurations but not getting token with failing dialog error code 12002. Also I have cross checked urls which are valid.

Can you please let me know what are the mandatory paratmeters to construct for 3rd party configurations to get access token?

[2018-06-04 19:53] elegault commented on #81
+1; React project as well

[2018-06-04 19:56] elegault opened #93 "Login dialog prompt"
Is it expected that the authenticator causes the "{app} wants to display a new window" (Allow | Ignore) message?  Or is there a way around this? (from Outlook React add-in)

[2018-06-06 02:06] elegault commented on #86
Try adding that URL to your add-in's manifest:

`  <AppDomains>
    <AppDomain>https://localhost:3443</AppDomain>
  </AppDomains>`

[2018-06-06 02:36] binarykitchen commented on #86
yes, this did it

[2018-06-06 02:36] #86 closed

[2018-06-07 22:48] jo-ph opened #94 "dialog error for native macOS Outlook Add-in"
Hello,

I just implemented the office-js-helpers into my Outlook Add-In. Unfortunately, there is a dialog token response problem. The Outlook Add-In works perfectly fine on the native Windows 10 Outlook. Same with Chrome, Firefox, IE11 and macOS Safari. The issue occurs with the native macOS Outlook. Libraries and software are up to date. As soon as the Add-in starts, the dialog displays a list of

[2018-06-12 15:40] daniel-white commented on #93
https://stackoverflow.com/questions/49513093/avoiding-office-onlines-wants-to-display-a-new-window

[2018-06-12 15:44] daniel-white commented on #66
@WrathOfZombies  i dont see any resolution here. this is happening in word too which I'm guessing is realted to OfficeDev/office-js#73

[2018-06-12 22:13] kcthota opened #95 "Issue with CDN hosted library"
The CDN hosted library at `https://unpkg.com/@microsoft/office-js-helpers@1.0.0/dist/office.helpers.js`  has an issue in TokenStorage constructor that initializes the TokenStorage location to OAuth2Endpoints.

Refer the following screenshot.
![screen shot 2018-06-12 at 3 09 43 pm](https://user-images.githubusercontent.com/2999820/41320063-18ac42de-6e53-11e8-98f9-68522769e563.png)

This causes endp

[2018-06-13 00:48] CodingFanSteve commented on #83
We are calling this code and seeing the same issue. Is this a fix for this bug?
We are doing Outlook 16.13.1(180523) and macOS High Sierra (10.13.3).

[2018-06-14 21:44] elegault commented on #93
Hang on - there is no displayInIframe option I can see with the Authenticator. To be clear, this is for a login process, e.g. user clicks button in my add-in's task pane, and I use the Authenticator to show the O365 login.

[2018-06-15 16:11] koskila commented on #81
+1; React project here too.

[2018-06-18 19:10] elegault opened #96 "Cannot register new endpoints"
I've been doing some testing with various endpoints, and it seems the first provider I use for each of Authenticator.endpoints.registerMicrosoftAuth and registerAzureADAuth are "stuck" in storage.  Every time I try to register and use a provider with a different client ID, the login is failing and referring to IDs from the first registration attempts.  I see the old provider client IDs in storage,

[2018-06-20 00:31] binarykitchen opened #97 "The extension custom properties could not be saved"
Whenever I have a message in my inbox, process it for first time and attempt to save custom properties, this error comes up

[code]

No idea why. Doesn't say much. And I've loaded the custom properties before without any errors. And more weird, this only happens for messages in Inbox. Not when messages are in other folders, there saving custom properties works fine.

[2018-06-21 08:43] Murugananths commented on #54
@WrathOfZombies any update please

[2018-06-22 03:20] WrathOfZombies commented on #54
@Murugananths Sorry about that. I am no longer the active maintainer of the project. @Zlatkovsky, @casieber would be able to guide you.

I am guessing you haven't added the urls your appdomains in the manifest.

[2018-06-22 03:35] elegault commented on #96
Yes I am. This may not be a bug and perhaps just a symptom of me not understanding how the storage mechanism works. In fact it would be nice if anything about Storage Helpers (and the rest) is documented, as only Authentication has guidance at the moment

[2018-06-22 04:07] elegault commented on #19
I'm still having this redirect/callback issue with the latest version of office-js-helpers. I've also tried using the Dialog API, and the issue remains that it is unclear how to handle the redirect. I'm not an expert on routings in a React SPA, especially in the context of the auth flow for an Office add-in - so some guidance on how to set this up would be appreciated. Especially if deeper compone

[2018-06-22 05:22] kcthota commented on #95
Hi Bhargav,
Can you update the README.md with links to the newer version? I just used the CDN link from README and ran into this issue.

[2018-06-27 13:23] LanceEa commented on #82
@WrathOfZombies @Zlatkovsky -

I see the change has been committed to master but I'm still seeing this issue. I have 1.02 installed from NPM. Does a new release just need to be cut for NPM?

<img width="942" alt="default-param" src="https://user-images.githubusercontent.com/8103374/41976279-58e0710a-79e2-11e8-9f3e-df873feb012f.png">

<img width="783" alt="default function in code" src="https://use

[2018-06-29 23:56] sstepper commented on #83
Same here. Unable to authenticate. But in Excel.

[2018-06-30 02:02] BizH commented on #82
The issue has cropped up again. I have @types/office-jas as follows;

`"@types/office-js": "^0.0.78",`

Thanks.

[2018-06-30 12:39] jo-ph commented on #94
Regarding the dialog error, two updates for the native Outlook Version on macOS were published some weeks ago. (16.14.0, 16.14.1, [release-notes](https://docs.microsoft.com/en-us/officeupdates/release-notes-office-for-mac#june-2018-release)).

Fortunately the described error does no longer occur on my platform. Therefore it was rather a bug on Outlook I guess.

So if no one else is struggeling wit

[2018-06-30 12:39] #94 closed

[2018-07-10 07:45] KrzysiekKuczma commented on #82
I have the same issue
I use "@types/office-js": "0.0.83",

Thanks

[2018-07-19 11:52] blandine commented on #88
This error happens when trying to use
`authenticator.authenticate(OfficeHelpers.DefaultEndpoints.Microsoft, false)` in a Dialog.
For example, when trying to follow the recommended workflow : https://docs.microsoft.com/en-us/office/dev/add-ins/design/authentication-patterns :

1. In add in, the user clicks on a button to authenticate
2. It open a first dialog box to provide two ways of authenticati

[2018-07-26 06:46] TheSamsterZA commented on #82
Hello @Zlatkovsky / @casieber.

[As mentioned by @LanceEa here](https://github.com/OfficeDev/office-js-helpers/issues/82#issuecomment-400669561), the current release ([1.0.2](https://www.npmjs.com/package/@microsoft/office-js-helpers/v/1.0.2)) causes the following error:

[code]

(NOTE: It does not seem to matter if I have @types/office-js installed).

Please update **office.helpers.d.ts**.

Chang

[2018-07-26 22:33] jahenaor opened #98 "How to add additional logic in the catch using OfficeHelpers.Utilities.log"
I am using OfficeHelpers.Utilities.log to write the trace of the error, but I need to add additional lines in the catch, keeping the use of the function OfficeHelpers.Utilities.log

![imagen](https://user-images.githubusercontent.com/1894124/43292217-f472234c-90f9-11e8-882e-ca529c22fa9f.png)

How could I do this?

[2018-08-11 14:45] manish-shukla01 opened #100 "does not open auth dialogue and does not look like its doing anything."
var authenticator = new OfficeHelpers.Authenticator();
        authenticator.endpoints.registerFacebookAuth('xyz');
        authenticator
            .authenticate(OfficeHelpers.DefaultEndpoints.Facebook)
            .then(function (token) {
                var fbtoken = token;

            })

it always goes into the .then part but there is never a token or whatever appid i pass, it just goes thr

[2018-08-13 17:48] manish-shukla01 commented on #100
@casieber
and @Zlatkovsky can you guys provide some quidance..i asked this question on stackoverflow also..
https://stackoverflow.com/questions/51800835/office-addin-auth-using-helper-js

[2018-08-14 15:45] manish-shukla01 commented on #100
i was actually able to get the auth dialogue open up by forcing it to reauthenticate..
.authenticate(OfficeHelpers.DefaultEndpoints.Microsoft, true)
but now i am getting new error:
DialogError
   at i.sent (https://unpkg.com/@microsoft/office-js-helpers@1.0.0/dist/office.helpers.min.js:1:25936)
   at Anonymous function (https://unpkg.com/@microsoft/office-js-helpers@1.0.0/dist/office.helpers.min.j

[2018-08-20 20:17] sremiger1 opened #101 "Anybody actively working on these issues?"
I have been testing authentication  within all the browsers and desk top and it is not consistently working.  Wondering if this is an active project to fix it or should I be using a different set of libraries?

[2018-08-21 13:49] sremiger1 opened #102 "Recursive call calling out of stack"
[code]
_super.prototype.delete.call(this, provider); is being called if expired.  Which in turn is calling delete causing a circular reference and blowing the stack.
[code]

[2018-08-22 18:05] sremiger1 commented on #102
Adding more details to the issue.

When getting an existing token that is expired it will attempt to delete said token and call get again which causes the circular reference

To fix simply rename
`token.manager.ts get(provider: string): IToken {`

to

`token.manager.ts getValidToken(provider: string): IToken {`

The get call within the delete then will call the proper get.

[2018-08-27 18:31] LouMM commented on #97
This issue is related to a problem in Office.js for Outlook around Custom Properties and doesn't seem related to Office-js-helpers. Please create an issue in the Office.js repo and tag it with Outlook to have it reviewed by that team. https://github.com/OfficeDev/office-js/issues

[2018-08-27 18:31] #97 closed

[2018-09-03 10:12] sreddim opened #108 "Office outlook addin authentication using custom Idserver provider."
Hi,
We have our custom Identity provider using IdentityServer 3 to authorize our api s.

We are working on OfficeJS Outlook add in created using Aurelia framework.

All our others aurelia client applications works with the authentication by using aurelia-openid-Connect library and we get the token from our identity server authority.

In the same way how can we set up the Office js authentication t

[2018-09-13 16:37] meslater1030 commented on #76
Hi - I'm having this same issue. I noticed that @blandine made a commit to @neoreeds's fork but that no pull request was opened. @WrathOfZombies What's the current recommended fix for this issue?

[2018-09-24 17:56] Zlatkovsky commented on #82
Reopening, re-assigning to @sumurthy who was looking into getting the NPM package updated.

[2018-10-07 16:00] Aseelaldallal commented on #82
Hi Guys, has this been resolved?

I'm still getting
ERROR in node_modules/@microsoft/office-js-helpers/dist/office.helpers.d.ts(287,41): error TS2503: Cannot find namespace 'Excel'.
node_modules/@microsoft/office-js-helpers/dist/office.helpers.d.ts(287,106): error TS2503: Cannot find namespace 'Excel'.
node_modules/@microsoft/office-js-helpers/dist/office.helpers.d.ts(628,10): error TS1319: A defa

[2018-10-10 00:31] LouMM commented on #108
Hi Salini,
Thank you for the great question! Unfortunately we only accept Office JS Helper issues in the repo, but we do have a place to ask questions.

If you head over to StackOverflow you can tag your questions with officejs and office-addin and this will help flag the appropriate teams to respond. Example [Search here. ](https://stackoverflow.com/search?q=outlook-addin+officejs)

Thank you aga

[2018-10-10 00:31] #108 closed

[2018-10-29 08:54] sai78 opened #111 "Is it possible to create a new thread under given channel of Microsoft Teams through any programming language?"
Hello Team,

I want to create a new thread under given channel in Microsoft Teams using Node JS. Is it possible? If yes please suggest me the corresponding documentation.

Thanks in advance.

[2018-11-02 01:50] piyushgodara commented on #82
Hi Guys, has this been resolved?

[2018-11-06 15:07] gillouxxx opened #114 "Manage returned code AADSTS65001"
How to manage the code AADSTS65001. If I change the authorization of my application, I need to manage the returned code AADSTS65001 and ask the user to accept the new authorization of my application.
I cannot find how to do it with Office-js-helper.

[2018-11-08 00:51] dmahugh commented on #82
@WrathOfZombies do you know status on this?

[2018-11-15 02:21] ExciteM-Blog opened #115 "authDialog does not close"
I have setup a custom endpoint, and the authenticate method seems to be working fine (although I had to pass true for the force parameter), but once the auth process is done, and this line runs in the dialog:

`var isAuthDialog = OfficeHelpers.Authenticator.isAuthDialog();`

It returns false, and the dialog doesn't end up closing.
I have verified my AppDomain matches the location of the dialog.

[2018-11-15 03:14] ExciteM-Blog commented on #115
Nevermind, I see in the code it expects one of access_token, code, error, or state in the URL:

https://github.com/OfficeDev/office-js-helpers/blob/85c94101dcbdfa8b74524b3e66dc5884b49264fa/src/authentication/authenticator.ts#L88

So I added ?error=0.

[2018-11-15 03:14] #115 closed

[2018-11-16 03:33] JimbobTheSailor commented on #82
I'm getting the same error in Excel Add-in,  Any help would be great!

[2018-11-20 13:23] Devang142 commented on #70
Any updates? I also want to implement same feature. Currently I am using MSAL js with add-in, which have one method "acquireTokenSilent" for automated renewal of token, but I want to use office-js-helpers as it is more compatible for add-in.

[2018-11-27 07:35] LouMM commented on #111
Thank you @sai78 for your questions about Microsoft Teams. Unfortunately this repo is more for Office Addins that use Office.js as they API pipeline. Don't fret it though! There are several places for you to ask a question about this topic.

- **General questions**: Please send email to [Microsoft Teams developer support.](microsoftteamsdev@microsoft.com)
- **Programming questions:** The team list

[2018-11-27 07:35] #111 closed

[2018-12-06 02:52] ExciteM-Blog opened #116 "Auth Dialog does not close @ Powerpoint Online"
In Powerpoint online, I'm seeing this code:
`OfficeHelpers.Authenticator.isAuthDialog()`
Is not closing the auth dialog after a successful sign in, even though it does return `true`.
The first time I tried it, I got a 'Uncaught Error: Cannot close dialog' in the console, but there after nothing (even when trying with a new presentation).

[2018-12-17 05:06] hzsheikh opened #117 "Google Signin dialog buttons not working"
I am working on a Windows Powerpoint add-in.

On it I have a sign in button for Google that uses oauth2.
Once the server returns the sign in URL, I am using the office-js-helpers library to create an auth dialog to open this URL, and allow the user to sign in.
While the dialog does show the Google login page perfectly fine,
none of the buttons on this dialog ('forgot password', 'next' for signing

[2018-12-17 05:18] hzsheikh opened #118 "Google auth dialog showing "403 diallowed_useragent""
I'm working on a Powerpoint add-in which supports signing in via Google.
I have used the office-js-helpers library to power the OAuth2 setup for Google.
It works great for most platforms, but when clicked on an iPad, I'm getting a 403 user_agent error from Google:

![image](https://user-images.githubusercontent.com/45888398/50067721-4705ed80-0190-11e9-8c23-f78be5829c79.png)

I believe this is beca

[2018-12-30 07:34] alirezastack opened #119 "`plus.me` scope does not return does not return email of user"
The problem I faced is that when a token is generated based on `plus.me` and that token is given to google via our server. The token does not return user email address:

[code]

I changed `plus.me` to `plus.profile.emails.read` and I could get user's email address. Why this scope is set and is there any chance to change this scope to `plus.profile.emails.read`?

[2019-01-05 04:51] Demiurge22 opened #120 "OfficeHelpers.UI.notify has no background color in a React-based Office Add-in"
#### Environment Information

- __Package version(s)__: Latest
- __Browser and OS versions__: Excel Add-In

#### Bug Information:

When I create a React project using Yeoman, if I use OfficeHelpers.UI.notify to show an error, or for anything, the MessageBar has no background. This occurs even with the out of the box project (with the small change of changing 'range.format.fill.color = 'yellow'' to

[2019-01-17 17:55] sumurthy commented on #119
Could you clarify if this is Office-js-helpers related? When you say you couldn't get the email address back, can you specify where you are unable to receive?

[2019-01-17 17:58] sumurthy commented on #118
Thanks for bringing this up. We'll get back with any recommendation we may have. At this point, I don't have any new information to offer.

[2019-01-17 17:59] sumurthy commented on #117
Is it possible to share any piece of code that might be of help to investigate?

[2019-01-18 18:51] hzsheikh commented on #117
Unfortunately, no. I can share a screenshot:

![googleoauthbug](https://user-images.githubusercontent.com/45888398/51406689-b152da80-1b0e-11e9-915b-bb817e531b80.png)

I would assume any Google OAuth flow 'should' be able to reproduce this issue.

[2019-01-23 16:59] tomp736 commented on #82
Seeing the same issue.

    "typescript": "^2.9.2",
    "@types/office-js": "0.0.148",
    "@microsoft/office-js-helpers": "^1.0.2",

ERROR in [at-loader] ./node_modules/@microsoft/office-js-helpers/dist/office.helpers.d.ts:628:10
TS1319: A default export can only be used in an ECMAScript-style module.

[2019-01-23 17:08] tomp736 commented on #82
I switched from awesome-typescript-loader to ts-loader. Error is gone.

[2019-01-23 17:56] jimbo74 opened #121 "office-js-helper with IdentityServer?"
Has anyone successfully used office-js-helper with an implementation of Identityserver? I can add it as a an endpoint and attempt to authenticate against it which all works fine from my Identityserver but when it comes back to my script it hits the catch(function (error) which is DialogError 12002.

[2019-01-24 07:43] csgmike opened #122 "Double clicking the 'Allow' button on the dialog consent form in Word Online launches two dialogs"
## Expected Behavior
Only one dialog should be launched regardless of single/double click

## Current Behavior
When doble clicking the 'Allow' button, two dialogs are shown

## Steps to Reproduce
1. Load the 'Script Lab' addin in Word Online
2. Launch the 'Code' taskpane
3. Click the hamburger in the top left of the panel until you have the code view
4. Click the user login button in the top right

[2019-01-24 07:49] csgmike commented on #122
Posted in the wrong repo [link to new bug](https://github.com/OfficeDev/office-js/issues/367)

[2019-01-24 07:49] #122 closed

[2019-01-24 10:59] jimbo74 commented on #121
Closing this issue. I now have it working, it was a simple error with my localhost port being incorrect in the redirectUrl

[2019-01-24 10:59] #121 closed

[2019-01-29 11:06] alirezastack opened #124 "Office helpers gives undefined exception on Word 2016"
When `login` button is clicked on add-in page I run the sample code given on `README` it works on office online as expected but the below problem happens when I run add-in on `Word 2016 build 16.0.4300.1000`:

`TypeError: Unable to get property 'displayDialogAsync' of undefined or null reference`

Why is this happening and how should I fix this? @Zlatkovsky @casieber

[2019-01-29 11:11] alirezastack commented on #119
@sumurthy yes it is related to `office.js helpers`. I have provided the code from office library and based on the scope in `office-js helpers` it gives a token that return insufficient account information.

For now I use the below scope to get user email address and name:

`https://www.googleapis.com/auth/    plus.me https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/

[2019-02-01 16:48] kespinosa05 commented on #82
Hi, this work for me
add @types/office-js in tsconfig.app.json file compilerOptions type
sample:
{
  "extends": "../tsconfig.json",
  "compilerOptions": {
    "outDir": "../out-tsc/app",
    "types": [ "@types/office-js"]
  },
  "exclude": [
    "test.ts",
    "**/*.spec.ts"
  ]
}

[2019-02-01 17:02] kespinosa05 commented on #82
For error

downgrade version to  "@microsoft/office-js-helpers": "1.0.1" work for me

[2019-02-03 07:58] alirezastack commented on #124
Isn't there anyone who could solve this issue? Or give some help?

[2019-02-05 01:18] Zlatkovsky commented on #124
@alirezastack , see my response on https://github.com/OfficeDev/office-js/issues/374.
If it solves the issue for you, please go ahead and close the bug.

[2019-02-05 12:38] alirezastack commented on #124
In **Mac Word 2016** Login with Google gives the below error:

`Parameter not allowed for this message type: action`

It seems that OfficeJsHelpers sends an invalid parameter for Google authentication.

[2019-02-05 13:00] alirezastack commented on #83
I have the same problem on `MAC OS X Word 16` with the same exact error.

[2019-02-05 18:40] yutao-huang opened #126 "Storage.has(key) returns true even when the key actually doesn't exist."
Storage.has(key) returns true even when the key actually doesn't exist.

This incorrect behavior is also impacting things like `authenticator.endpoints.has(...)`, which always mistakenly returns `true` for an actually not registered endpoint.

I have a pull-request to address this: #125. Could someone help to take a look?

Thanks!

[2019-04-03 05:59] Goppey commented on #55
@WrathOfZombies  I am facing the same issue with Outlook Native application in Windows.

[2019-04-03 11:42] ONataLux commented on #83
Is this fixed yet ?
I have the same problem but then for dropbox.

[2019-04-09 08:03] kosnkow opened #129 "Missing any login dialog"
I created office addin , added  necessary scripts but it does not work at all.

I run in in document ready
[code]

but I can't see any window for logging , the console log only print this
http://i.imgur.com/6x6NFfG.png

If i change authenticate to this .authenticate(OfficeHelpers.DefaultEndpoints.AzureAD, true)
then I got message: Cannot read property 'displayDialogAsync' of undefined

[2019-04-09 10:34] #129 closed

[2019-04-09 12:20] kosnkow opened #130 "redirectUrl problem"
Hello, I debuging on my https://localhost:3000 some outlook plugin , I am wondering how redirectUrl  should be set ?  If I set to https://localhost:3000 it does not work.

[2019-05-03 21:00] craneinteractive commented on #81
+1; attempting implicit OAuth within a React project with a Laravel Passport backend.

[2019-05-06 09:27] YannickRe opened #131 "Edge authentication popup doesn't close"
Using this helper for authentication in Edge, the authentication window doesn't close (it works for Chrome and IE etc). The workaround that was put in place (using a polling mechanism on "storage") to circumvent issues with postMessage doesn't work anymore in Edge. For some reason, adding the information to localStorage in the popup window doesn't make it available in the main/opener Window of Edg

[2019-05-06 11:10] YannickRe opened #133 "IsAddin check fails in Browser, still returns true and uses Dialog framework"
In a browser the Utilities.isAddin check return true, even when using it outside of Office. This results in the helpers trying to use the Dialog framework to open an authentication window instead of a normal browser popup.

Problematic code:
https://github.com/OfficeDev/office-js-helpers/blob/a7b02821b9ffc9a5d89efaaa2d8f8de701524dc2/src/helpers/utilities.ts#L180

When used in the browser, the `hos

[2019-05-06 22:12] #133 closed

[2019-05-08 07:06] YannickRe commented on #131
Of course, after spending days on a workaround, I noticed the workaround for MSAL at https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issues-on-IE-and-Edge-Browser
They have the same issue, and with adding everything to the Trusted Site. I'll try to get in a Pull Request to update the readme.

[2019-05-08 07:06] #131 closed

[2019-05-15 19:59] bravew commented on #85
I have a workaround  by removing placeholder AppDomain1(2,3) tags in the manifest.xml file.

[2019-05-16 15:31] schmitch commented on #130
it is extremly badly done. however depending on how you created your application the dev server will have some html sites which should be your returnUrl.

Currently if I use yeoman to generate a word-addin it will create the following structure:
[code]

Now it also depends on the created webpack config which contains plugins like that: `HtmlWebpackPlugin` which have a filename attribute. if the fi

[2019-05-16 15:38] schmitch opened #136 "PKCE + Authorization Code Challenge should be prefered over implicit"
currently the docs at https://docs.microsoft.com/en-us/office/dev/add-ins/develop/auth-external-add-ins encourages to use implicit flow.
however as of today it's probably better to use PKCE+authorization code, however office-js does not support PKCE (neither plain nor S256).

office-js should implement PKCE and probably encourage people to use it over implicit flows

[2019-05-21 08:19] jorgenho opened #138 "Authentication dialog not closing in Office Online on IE11(11.706.17134.0)"
We have run into an issue with a specific version of IE11 (11.706.17134.0), where the dialog does not close after redirect. It works fine on every other platform/browser/version.

Error when closing dialog manually:

`{"description":"undefined","name":"DialogError","innerError":12006,"stack":"DialogError\n at sent (https://unpkg.com/@microsoft/office-js-helpers@1.0.2/dist/office.helpers.js:2934:27

[2019-05-22 16:24] tharaka1 commented on #76
Hi - I am  also having same issue in outlook office addin.
when authentication in outlook desktop (windows)
`authenticator.endpoints.registerAzureADAuth('client id here', 'tenant here');`

I am getting "Unable to delete 'AzureAD' from storage" error. Any recommendation for fix this issue?

[2019-05-24 06:34] tharaka1 opened #139 "Unable to delete 'AzureAD' from storag"
Hi - I am  also having same issue in outlook office addin.
when authentication in outlook desktop (windows)
`authenticator.endpoints.registerAzureADAuth('client id here', 'tenant here');`

I am getting "Unable to delete 'AzureAD' from storage" error. Any recommendation for fix this issue?
@casieber @Zlatkovsky

[2019-06-02 04:18] karthik15981 commented on #19
I was running into the same issue with my react add-in. In my case, the problem was because I was using "https://localhost:3000" as my redirect URL instead of "https://localhost:3000/taskpane.html".

To fix the issue, I had to do the following:

1. In azure, specify the redirect URL as "https://localhost:3000/taskpane.html"

2. In code, specify the same:
_`authenticator.endpoints.registerMicrosoft

[2019-06-06 01:30] Zlatkovsky commented on #139
Adding @sumurthy , @LouMM, who are the current owners/maintainers of the repo.

[2019-06-22 08:06] ntranvinh opened #141 "redirect and automatically closing authentication dialog and token issue (MAC safari)"
Hello,

I am currently doing an outlook add in using office-js-helpers to get token for calling Graph API. I also following some instructions found on issues resolution here to setup redirect url is https://localhost:3000/taskpane.html in app registration in azure portal and also in the code:
`authenticator.endpoints.registerMicrosoftAuth('my client id', {redirectUrl: "https://localhost:3000/taskp

[2019-06-25 20:57] guruprasadpatil opened #142 "Office Addin for Powerpoint : Dialog & authentication issue."
Hello Team,
I am working on Office Add-in for powerpoint using Angular-7. But unable to open Dialog window & login. Following link contains detailed information about issue. Could you help in this issue ?
https://stackoverflow.com/questions/56761757/dialog-box-is-not-working-for-powerpoint-office-add-in-angular-7
Wating for reply.
Thank you.

[2019-07-02 06:06] Muhammad-saqib commented on #19
TypeError: url.replace is not a function
    at Function.Authenticator.getUrlParams (office.helpers.js:3960)
    at Authenticator._handleTokenResult (office.helpers.js:4098)
    at Authenticator.<anonymous> (office.helpers.js:4026)
    at step (office.helpers.js:3795)
    at Object.next (office.helpers.js:3725)
    at fulfilled (office.helpers.js:3677)

using office-js, when the redirect has happe

[2019-08-05 23:00] albimcleod opened #143 "Office Version 1906 / Windows 1903 - Authentication Redirect"
Our office-js add-on has been working fine for Authentication, and but with the recent release of Windows 1903 in combination with Office 1906, after the user logs into the authenticator, it does not redirect back to my Add-On and stays in the same window. Zero changes on our end, rolling back Office it works again.

I will also note the Authentication Dialog has changed behaviour, where it would

[2019-08-06 06:35] Hopeman commented on #143
I'm experiencing the same issues with the new Office Update 1907 and Windows 1903. Last week, i was running Office 1907 with Win10 1809 and everything was fine. I updated Win10 to 1903 because i heard of some problems with 1903 and i wanted to verify it. I also use a rollback to Office 1906 as a workaround.

[2019-08-16 01:04] aarongut commented on #143
I'm seeing the same behavior with our Outlook add-in after updating to windows 1903. Our add-in works fine in outlook online in edge (I understand this update switched the webview from IE11 to Edge).

[2019-08-19 11:50] Ballzer0 opened #145 "feature request: Store token in OfficeRuntime.Storage"
LocalSettings.storage is unavailable if you are writing a customFunction. My suggestion would be to switch to OfficeRuntime.Storage instead to avoid any issues with customFunctions in excel.

https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-authentication?view=excel-js-1.9

[2019-08-19 12:35] Ballzer0 commented on #145
I didnt realize you could pass in a different TokenStorage type. i will close this issue.

Solved by using inMemoryStorage:
[code]

[2019-08-19 12:35] #145 closed

[2019-08-19 16:33] IanVS commented on #143
This is also broken for us, and I'd love a solution for our customers, so I'm tagging the folks mentioned in the readme: @casieber / @Zlatkovsky can anything be done here to fix this?

[2019-08-19 18:15] aarongut commented on #143
I was able to build a workaround using local storage. Basically, the oauth redirect page sets a token in local storage and the host page polls local storage periodically looking for the token

[2019-08-19 18:37] Zlatkovsky commented on #143
@IanVS , I would love to help, but office-js-helpers is something that I'm no longer involved with.  And casiber is likewise no longer on the team.

Adding @sumurthy and @LouMM, who are the current owners.

[2019-08-19 19:31] IanVS commented on #143
Thanks @Zlatkovsky.  I see now that your PR https://github.com/OfficeDev/office-js-helpers/pull/123 would have avoided this kind of confusion, sorry about that.  Thanks for responding despite no longer being involved!

[2019-08-20 09:12] #138 closed

[2019-09-16 13:24] IanVS commented on #143
Unfortunately it's been nearly a month since pinging @sumurthy and @LouMM, with no response.  Authentication is broken for users with new versions of outlook.  There's a PR open, but it hasn't had any review.  Is this project more-or-less dead?

[2019-09-20 15:06] johnrhunt commented on #83
We've also spent ages trying to solve this problem, it's really quite silly that this happens as it can have a very bizzare and unexpected impact. For example, if your site is using code igniter then having an 'action' GET param breaks everything as it's a keyword in that framework.

[2019-09-26 06:54] jacob-j commented on #133
We are still experiencing this issue on our application. Has the bug returned?
Let me know if you want reproduction steps

[2019-09-26 07:06] YannickRe commented on #133
This project is dead, I guess. Nobody bothers to merge PR's or is following up on issues.
Since we invested in using this library, we are building from source (and implemented some other PR's as well) and continue that way until we can strip out this dependency.

[2019-09-26 07:12] jacob-j commented on #133
That is sad. Really handy functions for us. Would it be possible for your team to do a fork of this project? Maybe we can help each other out if there are issues and for feature implementation.

[2019-09-27 10:54] jsaele opened #146 "Authenticator: Make width and height of dialog window configurable"
When using `office-js` to create a dialog window it's possible to configure the size of the window.

Authenticator uses this under the hood, but it's not avaliable to configure for users. Seems to be hardcoded in `authenticator.ts:153`:

[code]
Please correct me if I'm wrong.

I propose a change where we either add the params `width` and `height`, or an `option` obj, to either the `Authenticator`

[2019-10-10 03:54] kkliebersbach commented on #143
Absolutely **_unacceptable_**. This affects our production application, we've been sitting quiet for a while now but we're sick and tired of having to rollback our client's Office installations to older versions. I've submitted a support request to Microsoft directly to see if they can poke the stick from the other side of the chain. @LouMM @sumurthy please please just merge the relevant PR #144 a

[2019-10-31 08:08] honb commented on #81
I'm getting the same issue in Outlook web. (ReactJS & generator-office). Did you guys find a solution?

It opened a dialog with access token there but do not close the dialog. When I close dialog manual then it shown an error

![image](https://user-images.githubusercontent.com/26110193/67929621-521f0c00-fbf0-11e9-96a9-77655f0c442c.png)

![image](https://user-images.githubusercontent.com/26110193/6

[2019-10-31 10:19] Mathyaku opened #147 "State couldn't be verified"
Any solution for this authentication issue ?

I have no idea, what does that mean.

![image](https://user-images.githubusercontent.com/12189704/67938661-fac56f80-fbe0-11e9-9998-8bc8bd3a2900.png)

[2019-11-08 02:25] lindalu-MSFT commented on #81
Hi all, I will try to track down some folks on the product team to help with this issue! It's a little beyond my technical expertise, but I will do my best to find the right engineers to assist.

[2019-12-11 15:36] YugoAmaryl opened #148 "displayDialogAsync does work in vanilla js but doesn't with react"
I have made a POC of my app with the vanilla javascript template created using the `yo office` command.
The authentication works with displayDialogAsync:

[code]

Of course I have also this code on the same page
[code]

This works fine on outlook.com and outlook desktop as well.

However, when I try the same process using the react template, on outlook desktop the popup doesn't even open. On oulto

[2019-12-12 09:14] YugoAmaryl commented on #148
Nevermind. I had forgotten about the `<AppDomains>` in my manifest. And outlook desktop wants the subdomain as well, not just the domain like outlook.com.

[2019-12-12 09:14] #148 closed

[2020-01-16 18:05] mrbfrank commented on #82
+1 I see the same error with TypeScript compiler:
`node_modules/@microsoft/office-js-helpers/dist/office.helpers.d.ts:628:10 - error TS1319: A default export can only be used in an ECMAScript-style module.`
TypeScript v3.7.4
@types/office-js v1.0.62
@microsoft/office-js-helpers v1.0.2

Would be great to see this fixed, but in the mean everyone time try this postinstall script:
https://github.com/O

[2020-01-22 20:52] tomp736 commented on #82
+1 When will this be addressed?

[2020-02-17 01:45] NeerajTanwar commented on #55
@WrathOfZombies  Hello Bhargav,  I am having the same Issue. Pop up window opens and then its does not get close. If I close manually then there is no way to get the token back. its giving me Right token after some work around. but pop up does not close. Can you please let  me what is the fix for this. Truly appreciated in advance.

[2020-02-17 01:46] NeerajTanwar commented on #55
authenticator
     .authenticate(OfficeHelpers.DefaultEndpoints.Microsoft,true)
     .then(function (token) {

      console.log("My Most Awaited Token Lol",token)
    })
     .catch(OfficeHelpers.Utilities.log);

[2020-02-19 13:14] nilslockean commented on #81
Same here! CRA project. Tried downgrading office-js-helpers to 1.0.0 and it seems to have solved the problem...

[2020-02-20 17:59] lindalu-MSFT commented on #81
I just assigned a few Outlook add-in experts. @jasonjoh @ElizabethSamuel-MSFT @Reezaali, seems there are issues with the sample in this repo.  This is not a repo that we actively monitor. But based on the issues and PRs here, and the fact that customers use these Helpers, perhaps we should be?

[2020-02-20 18:22] lindalu-MSFT commented on #81
@nilslockean Hey, I just spoke in person with one of our PMs. Sadly, we are in the process of shutting down this repo and archiving it and there are no resources to assign to it. I will leave the folks I tagged in case they have any quick insights for you! Cheers, lindalu